<!-- LOADING -->
<div class="loading" ng-show="vm.factory.busy.status('productGet')">
	<p layout layout-align="center center">
		<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
	</p>
</div>

<!-- FORM -->
<form name="form" class="form form-product content" ng-if="!vm.edit || (vm.edit && vm.service.model)">
	<div class="panel-body clean-bottom">
		<p class="title">{{'PROD_FORM_BASIC_DETAILS' | translate}}</p>
		
		<div layout="column" layout-gt-sm="row">
			<md-input-container flex>
				<label>{{'NAME' | translate}}</label>
				<input ng-model="vm.service.model.name" required>
			</md-input-container>
			<md-input-container flex>
				<label>URL</label>
				<input ng-model="vm.service.model.slug" ng-blur="vm.service.slugifyUrl(vm.service.model.slug)" required product-slug-validator edit={{vm.service.model._id}}>
			</md-input-container>
		</div>
		
		<textarea froala="vm.factory.froalaOptions" ng-model="vm.service.model.desc"></textarea>
		
		<br><br>
		
		<p class="title">{{'PROD_FORM_CAT_DETAILS' | translate}}</p>
		<div class="categories">
			<md-chips
				class="category-chips"
				ng-model="vm.service.model.categories"
				md-autocomplete-snap
				md-transform-chip="vm.factory.transformChip($chip)"
				md-require-match="true">
				<md-autocomplete
					md-selected-item="vm.selectedItem"
					md-search-text="vm.searchText"
					md-items="item in vm.querySearch(vm.searchText)"
					md-item-text="item.title"
					md-min-length="1"
					md-delay="1000"
					placeholder="{{'PROD_FORM_CAT' | translate}}">
					<span md-highlight-text="vn.searchText">{{item.parentTitle}}</span>
				</md-autocomplete>
				<md-chip-template>
					<span>
						<strong>{{$chip.parentTitle}}</strong>
					</span>
				</md-chip-template>
			</md-chips>
		</div>
		
		<br><br>
		
		<p class="title">{{'PROD_FORM_PRICE_DETAILS' | translate}}</p>
		
		<div layout="column" layout-gt-sm="row">
			<md-input-container flex-xs flex-sm>
				<label>Preço real</label>
				<input ng-model="vm.service.model.defaultVariant.price.retail" ui-money-mask="2" required>
			</md-input-container>
			<md-input-container flex-xs flex-sm>
				<label>Preço listagem</label>
				<input ng-model="vm.service.model.defaultVariant.price.list" ui-money-mask="2">
			</md-input-container>
		</div>
		
		<p class="title">Detalhes de entrega</p>
		
		<div layout="column" layout-gt-sm="row">
			<md-input-container flex-xs flex-sm>
				<label>Altura(cm)</label>
				<input ng-model="vm.service.model.defaultVariant.shipping.dimensions.height" ui-number-mask="3" required>
			</md-input-container>
			<md-input-container flex-xs flex-sm>
				<label>Comprimento(cm)</label>
				<input ng-model="vm.service.model.defaultVariant.shipping.dimensions.length" ui-number-mask="3">
			</md-input-container>
			<md-input-container flex-xs flex-sm>
				<label>Largura(cm)</label>
				<input ng-model="vm.service.model.defaultVariant.shipping.dimensions.width" ui-number-mask="3">
			</md-input-container>
		</div>
		
		<div layout="column" layout-gt-sm="row">
			<md-input-container flex-xs flex-sm>
				<label>Peso(kg)</label>
				<input ng-model="vm.service.model.defaultVariant.shipping.weight" ui-number-mask="3" required>
			</md-input-container>
		</div>

		<p class="title">Estoque</p>
		
		<div layout="column" layout-gt-sm="row">
			<md-input-container>
				<label>Quantidade</label>
				<input type="number" ng-model="vm.service.model.defaultVariant.qty" required>
			</md-input-container>
		</div>

		<p class="title">{{'PROD_FORM_FEATURED_DETAILS' | translate}}</p>
		
		<div layout="column" layout-gt-sm="row">
			<md-input-container flex-xs flex-sm>
				<label>{{'FEATURED' | translate}}</label>
				<md-select ng-model="vm.service.model.featured.status" required>
					<md-option value="1">
						{{'YES' | translate}}
					</md-option>
					<md-option value="0">
						{{'NO' | translate}}
					</md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex-xs flex-sm>
				<label>{{'ORDER' | translate}}</label>
				<input type="number" ng-model="vm.service.model.featured.order">
			</md-input-container>
		</div>
		
		<!-- <div class="variants" layout="column">
				<div>
						<p class="title">{{'PROD_FORM_VARIATIONS_DESC' | translate}}</p>
				</div>
				<div class="box" layout="column">
						<div variant-form ng-repeat="item in vm.variants" status="item.status" name="{{item.name}}" title="{{item.name | translate}}" entries="vm.factory.variants[item.name]" model="vm.service.model.variants.attrs" position='{{$index}}' lang></div>
				</div>
		</div> -->
		
		<p class="title">{{'PROD_FORM_UPLOAD_DETAILS' | translate}}</p>
		
		<div layout="column">
			<div>
				<p class="subtitle">{{'PROD_FORM_UP_DESC' | translate}}</p>
			</div>
			<div layout="column">
				<md-button
					class="md-raised clean-left"
					ng-click="vm.service.chooseFile()"
					accept="image/*">
					{{'CHOOSE_FILE' | translate}}
				</md-button>
				
				<div class="result-img">
					<img ng-if="vm.service.model.image.file && !vm.service.model.image64" ng-src="{{vm.service.model.image.thumb}}">
					<img ng-if="vm.service.model.image64" ng-src="{{vm.service.model.image64}}">
				</div>
			</div>
		</div>
		
		<div layout layout-align="start center">
			<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('productCreate')"></md-progress-circular>
			<md-button ng-disabled="vm.service.formStatus('productCreate', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary clean-left" ng-if="!vm.service.busy.status('productCreate')">
				{{'SAVE' | translate}}
				
				<md-tooltip>
				{{'SAVE' | translate}}
				</md-tooltip>
			</md-button>
			<md-button ng-disabled="vm.service.busy.status('productCreate')" ui-sref="app.products">
				{{'CANCEL' | translate}}
				
				<md-tooltip>
				{{'CANCEL' | translate}}
				</md-tooltip>
			</md-button>
		</div>
	</div>
</form>
<!-- /FORM -->