<p class="person">{{vm.person.firstName+ ' '+vm.person.lastName}}</p>
<p>
	<span ng-if="vm.formLocale !== 'pt_BR'">{{vm.address.num}} </span>
	<span>{{vm.address.street}}</span>
	<span ng-if="vm.formLocale === 'pt_BR'">, {{vm.address.num}}</span>
</p>

<p><span>{{vm.address.bairro}}</span></p>
<p>
	<span>{{vm.address.city}}</span>
	<span ng-if="vm.formLocale === 'pt_BR'">, {{vm.address.state}}</span>
</p>
<p>
	<span ng-if="vm.formLocale !== 'pt_BR'">{{vm.address.cep}}</span>
	<span ng-if="vm.formLocale === 'pt_BR'">{{vm.address.cep | brCep}}</span>
</p>