<div ng-show="vm.user.busy.status('login')" layout layout-align="center center">
	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	Validando informações
</div>
<form name="form" class="form has-icon" ng-hide="vm.user.busy.status('login')" novalidate>
	<div layout layout-xs="column" class="email">
		<md-input-container flex-sm flex-gt-sm>
			<label>{{'EMAIL' | translate}}</label>
			<md-icon md-font-set="material-icons">mail_outline</md-icon>
			<input ng-model="vm.user.model.email" type="email" required>
		</md-input-container>
	</div>
	<div layout layout-xs="column" class="senha">
		<md-input-container flex-sm flex-gt-sm>
			<label>{{'PASSWORD' | translate}}</label>
			<md-icon md-font-set="material-icons">lock_outline</md-icon>
			<input ng-model="vm.user.model.password" type="password" required>
		</md-input-container>
	</div>
	
	<div layout="row" layout-align="start" class="login-action-wrapper">
		<md-button type="submit" ng-disabled="vm.user.formStatus('login', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary entrar" ng-if="!vm.user.busy.status('login')">{{'LOGIN_BTN' | translate}}</md-button>
		<!-- <facebook-login user="user" template-url="core/login/loginFacebook.tpl.html"></facebook-login> -->
	</div>
</form>