<md-dialog aria-label="{{'CHOOSE_FILE' | translate}}" ng-cloak flex>
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'CHOOSE_FILE' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-font-set="material-icons" md-font-content="close" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<div filepicker qty="qty" cropper-options="cropperOptions" result="result" bucket="bucket" prefix="prefix" free-aspect="freeAspect" use-instagram="useInstagram"></div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="cancel()">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button ng-click="confirm()" style="margin-right:20px;">
				{{'SAVE' | translate}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>