<div class="header" ng-if="vm.service.view === 'main'">
	<div layout layout-xs="column">
		<div flex-sm flex-gt-sm>Selecione <b>{{vm.qty}}</b> fotos</div>
		<div>{{vm.service.selected}}/{{vm.service.qty}}</div>
	</div>
</div>

<div class="file-selection" layout="column" ng-if="vm.service.view === 'main'">
	<div ng-if="vm.service.busy.status('processFiles')">
		<p layout layout-align="start center">
			<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando imagens..
		</p>
	</div>
	
	<div ng-if="!vm.service.busy.status('processFiles')">
		<div ngf-drop ngf-select ng-model="vm.dropArea" ngf-change="vm.service.processFiles($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)" class="drop-box"
			ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
			accept="image/*,application/pdf"
		ngf-pattern="'image/*,application/pdf'">Arraste e solte os arquivos aqui ou clique para fazer upload</div>
		<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
	</div>
</div>

<div class="file-others" ng-class="{'file-use-instagram': vm.useInstagram}" layout="row" ng-if="vm.service.view === 'main'">
	<md-button class="btn-instagram" flex>Instagram</md-button>
	<md-button ng-click="vm.service.pickOld()" flex>Existente</md-button>
</div>

<div class="file-old" ng-if="vm.service.view === 'old'">
	<div>Arquivos existentes - selecione os arquivos</div>
	
	<div ng-if="vm.service.busy.status('getOld')">
		<p layout layout-align="start center">
			<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando imagens..
		</p>
	</div>
	
	<div class="file-list" ng-if="!vm.service.busy.status('getOld')">
		<div class="file-grid" flex>
			<div class="file-item" ng-repeat="file in vm.service.filesOld track by $index">
				<div class="file-image-wrapper" ng-class="{'active': file.selected}">
					<img ng-src="{{file.url}}" />
					
					<md-checkbox aria-label="file selection" class="md-primary" ng-change="vm.service.toggleSelectedOld(file)" ng-model="file.selected">
					</md-checkbox>
				</div>
				<div class="file-controls" layout>
					<a class="color-primary" ng-click="vm.service.removeOld($index, file)" md-ink-ripple flex>
						<md-icon md-font-set="material-icons" md-font-content="delete"></md-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="actions">
		<div class="file-controls" layout>
			<md-button class="md-primary" ng-click="vm.service.saveOld()">
				{{'SAVE' | translate}}
			</md-button>
			
			<md-button class="" ng-click="vm.service.cancelOld()">
				{{'CANCEL' | translate}}
			</md-button>
		</div>
	</div>
</div>

<div class="file-crop" ng-if="vm.service.crop">
	<div class="text-center">
		<h4>Faça o corte e clique em salvar</h4>
	</div>
	
	<div class="file-crop-wrapper">
		<div ng-cropper image="vm.service.crop.img" result-image="vm.service.crop.model" cropper-options="vm.cropperOptions"></div>
		<div class="file-controls" layout>
			<md-button class="md-primary" ng-click="vm.service.saveCrop()">
				{{'SAVE' | translate}}
			</md-button>
			
			<md-button class="" ng-click="vm.service.cancelCrop()">
				{{'CANCEL' | translate}}
			</md-button>
		</div>
	</div>
</div>
<div ng-class="{'file-free-aspect': vm.freeAspect}">
	<div class="file-list" ng-if="vm.service.view == 'main' && !vm.service.crop">
		<div class="file-grid" flex>
			<div class="file-item" ng-repeat="file in vm.service.files track by $index">
				<div class="file-image-wrapper" ng-class="{'active': file.selected}">
					<img ng-src="{{file.cropped}}" />
					
					<md-checkbox aria-label="file selection" class="md-primary" ng-change="vm.service.toggleSelected(file)" ng-model="file.selected">
					</md-checkbox>
				</div>
				<div class="file-controls" layout>
					<a class="color-primary" ng-click="vm.service.startCrop($index, file)" md-ink-ripple flex>
						<md-icon md-font-set="material-icons" md-font-content="crop"></md-icon>
					</a>
					<a class="color-primary" ng-click="vm.service.remove($index, file)" md-ink-ripple flex>
						<md-icon md-font-set="material-icons" md-font-content="delete"></md-icon>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>