[filepicker] {
	.file-others {
		.btn-instagram {
			display: none;
		}
		&.file-use-instagram {
			.md-button:first-of-type {
				margin-right: 2.5px;
			}
			.md-button:last-of-type {
				margin-left: 2.5px;
			}
			.btn-instagram {
				display: block;
			}
		}
		.md-button {
			margin-left: 0px;
			margin-right: 0px;
			background-color: #F8F8F8;
		}
	}
	.file-old, .file-free-aspect {
		.file-list {
			.file-image-wrapper {
				height: 171px;
				text-align: center;

				img {
					max-height: 100%;
					max-width: 100%;
					width: auto;
					height: auto;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
				}
				@media (min-width:401px) and (max-width:640px) {
					height: 127px;
				}
				@media screen and (max-width:400px) {
					height: 127px;
				}
			}
			.file-controls a:first-of-type {
				border-right: none;
			}
		}
	}
	.file-selection {
		padding-top: 20px;

		.drop-box {
			background: #F8F8F8;
			border: 5px dashed #DDD;
			width: 100%;
			min-height: 20px;
			text-align: center;
			padding: 30px;
			line-height: 36px;
			min-height: 36px;
			text-align: center;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 14px;
		}
		.dragover {
			border: 5px dashed #777;
		}
		.btn-from-instagram {
			width: 100%;
			margin: 0px;
		}
	}
	.file-list {
		display: flex;
		padding-top: 20px;

		.file-grid {
			display: block;
			margin: 0 -11.25px;
			max-height: 480px;
			overflow: hidden;
			overflow-y: auto;

			.file-item {
				float: left;
				width: 20%;
				padding: 0 11.25px 39.375px 11.25px;

				img {
					max-width: 100%;
					height: auto;
					display: block;
				}
				@media (min-width:641px) and (max-width:800px) {
					width: 25%;
				}
				@media (min-width:401px) and (max-width:640px) {
					width: 33.33333%;
				}
				@media screen and (max-width:400px) {
					width: 50%;
				}
			}
		}
		.file-image-wrapper {
			border: 4px solid rgba(0, 0, 0, 0.03);
			position: relative;

			&.active {
				border: 4px solid rgba(255, 51, 58, 0.87);
			}
			md-checkbox {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				margin-bottom: 0px;

				.md-container {
					right: 10%;
					left: auto;
					bottom: 10%;
					top: auto;

					&:after {
						background-color: rgba(255, 255, 255, 0.07);
						border-radius: 50%;
					}
				}
			}
		}
		.file-controls a {
			padding: 5px;
			position: relative;
			font-size: 14px;
			line-height: 34px;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.03);

			&:first-of-type {
				border-right: 1px solid rgba(0, 0, 0, 0.07);
			}
			md-icon {
				font-size: 17px;
				vertical-align: sub;
				color: inherit;
			}
		}
	}
	.file-crop {
		padding-top: 20px;

		.file-controls {
			margin-left: -8px;
			margin-right: -8px;
		}
	}
}
.result-img {
	img {
		max-width: 200px;
	}
}