<!-- FORM -->
<div class="form identification content" ng-if="!vm.edit || vm.edit && vm.product.model">
    <div class="form-box basic">
        <div>
            <p class="title"><md-icon md-font-set="material-icons">fingerprint</md-icon> {{'IDENTIFICATION' | translate}}</p>
        </div>
        <div class="box login-default">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="{{'NEW_CUSTOMER' | translate}}">
                    <md-content>
                        <br>
                        <div register-form class="register-form" redirect="'/checkout/payment-details/'" cb="vm.cbRegister" set-role="['user']"></div>
                    </md-content>
                </md-tab>
                <md-tab label="{{'RETURNING_CUSTOMER' | translate}}">
                    <md-content>
                        <br>
                        <div login-form class="login-form" redirect="'/checkout/payment-details/'" cb="vm.cbLogin"></div>
                        
                        <div class="help" layout="row">
                            <a flex ui-sref="app.recovery" class="lost"><i class="fa fa-support"></i> {{'LOGIN_FORGOT_LINK' | translate}}</a>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>
<!-- /FORM -->