<div class="wrapper">
    <div class="title-border">
        <h1 class="page-title title">{{'CART' | translate}}</h1>
        <div class="border"></div>
    </div>
    
    <div class="md-whiteframe-1dp list-custom cart-list" has-entries="{{!!vm.entries.length}}">
        <div class="hide-entries no-results">
            <md-icon md-font-set="material-icons">info_outline</md-icon> {{'NO_ITEMS' | translate}}
        </div>
        <div class="listing show-entries">
            <div class="head">
                <table>
                    <tr>
                        <td colspan="2">
                            <h3>{{'PROD_MENU' | translate}}</h3>
                        </td>
                        <td class="content total">
                            <h3>{{'TOTAL' | translate}}</h3>
                        </td>
                        <td class="actions"></td>
                    </tr>
                </table>
            </div>
            <md-divider></md-divider>
            <table>
                <tr ng-repeat="item in vm.entries">
                    <td class="img">
                        <img alt="{{ item.product.name }}" ng-src="{{item.product.image.thumb}}" class="md-avatar" />
                    </td>
                    <td class="content">
                        <h3> <a ui-sref="app.product({slug: item.product.slug, id:item.product.id})">{{ item.product.name }}</a> </h3>
                        <h4> {{ item.product.priceOffer ? item.product.priceOffer : item.product.price | currency}} x {{item.qty}}</h4>
                    </td>
                    <td class="content total">
                        <h3>{{ (item.product.priceOffer ? item.product.priceOffer : item.product.price) * item.qty | currency}}</h3>
                    </td>
                    <td class="actions">
                        <md-button class="md-icon-button" aria-label="Delete">
                            <md-icon md-font-set="material-icons" ng-click="vm.factory.remove($index)" aria-label="{{'DELETE_ITEM' | translate}}">delete</md-icon>
                        </md-button>
                    </td>
                </tr>
            </table>
            <md-divider></md-divider>
            <div class="foot">
                <table>
                    <tr>
                        <td colspan="2">
                            <h3>{{'CART_TOTAL' | translate}}</h3>
                        </td>
                        <td class="content total">
                            <h3>{{ vm.factory.subtotal | currency}}</h3>
                        </td>
                        <td class="actions"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    
    <br>

    <div layout layout-align="end center">
        <md-button class="md-primary md-raised btn-checkout" ui-sref="app.checkout.identification" ng-disabled="!vm.factory.hasEntries()">
            Checkout
        </md-button>
    </div>
</div>