<md-toolbar flex="none">
    <div class="md-toolbar-tools">
        <div layout="column" flex>
            {{'CART' | translate}}
        </div>
    </div>
</md-toolbar>

<md-content class="cart-sidenav-content" has-entries="{{!!vm.entries.length}}" md-scroll-y flex="no-shrink">
    <div class="hide-entries no-results">
        <md-icon md-font-set="material-icons">info_outline</md-icon> {{'NO_ITEMS' | translate}}
    </div>
    <ul class="list show-entries" ng-if="vm.entries.length">
        <li layout layout-align="start center" ng-repeat="item in vm.entries">
            <div class="image">
                <img ng-src="{{item.product.image.thumb}}" class="md-avatar" alt="{{item.product.name}}" />
            </div>
            <div class="content" layout="column" flex>
                <h3>{{item.product.name}}</h3>
                <h4>{{item.product.priceOffer ? item.product.priceOffer : item.product.price | currency}} x {{item.qty}}</h4>
            </div>
            <md-button class="md-icon-button md-primary" ng-click="vm.factory.remove($index)">
                <md-icon md-font-set="material-icons">close</md-icon>
            </md-button>
        </li>
    </ul>
</md-content>

<md-divider></md-divider>

<div class="subtotal" flex="none">
    Subtotal: {{ vm.factory.subtotal | currency}}
</div>

<md-divider></md-divider>

<div class="actions" layout layout-align="center center" flex="none">
    <md-button class="md-primary" ui-sref="app.cart">{{'SEE_CART' | translate}}</md-button>
    <md-button class="" ui-sref="app.checkout.identification" ng-disabled="!vm.factory.hasEntries()">Checkout</md-button>
</div>