.cart-sidenav {
	md-toolbar {
		color: rgb(19, 73, 178);
		border-bottom: 1px solid #ddd;
		background-color: transparent;
	}
	md-content {
		min-height: 82px;

		&[has-entries=true] {
			.hide-entries {
				display: none;
			}
			.show-entries {
				display: block;
			}
		}
		.no-results {
			padding: 16px;
			color: rgba(0, 0, 0, .54);

			md-icon {
				font-size: 18px;
				vertical-align: sub;
			}
		}
	}
	.subtotal {
		font-size: 16px;
		text-align: center;
		padding-top: 18px;
		padding-bottom: 18px;
	}
	.actions {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.show-entries {
		display: none;
	}
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.cart-sidenav-content {
	.list {
		padding: 0px;
		margin: 0px;
		padding-top: 16px;
		padding-bottom: 16px;

		li {
			padding-left: 16px;
		}
		.image {
			margin-right: 16px;
		}
		.content {
			height: 50px;
		}
		img {
			max-width: 35px;
		}
		h3, h4 {
			margin: 0px;
			font-weight: 400;
			font-size: 16px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h3 {
			color: rgba(0, 0, 0, .74);
			line-height: 24px;
		}
		h4 {
			line-height: 20px;
			font-size: 14px;
			color: rgba(0, 0, 0, .54);
		}
	}
}