<md-input-container class="ceper" ng-class="{'md-has-icon': vmCep.icon}">
	<label>{{'CEP' | translate}}</label>
	<md-icon md-font-set="material-icons" ng-if="vmCep.icon">place</md-icon>
	<md-progress-circular class="load" md-mode="indeterminate" md-diameter="18" ng-show="vmCep.busy"></md-progress-circular>
	<input type="tel" ng-model="vmCep.model" ng-change="vmCep.get()" ui-br-cep-mask ng-required="vmCep.required" ng-if="vmCep.region !== 'uk'">
	<input ng-model="vmCep.model" ng-change="vmCep.get()" ng-model-options="{ updateOn: 'blur' }" ng-required="vmCep.required" ng-if="vmCep.region === 'uk'">
</md-input-container>