<div class="wrapper account-profile panel" loading="{{vm.factory.busy.status('get')}}" editable="{{vm.editable}}">
	<div class="loading" layout layout-align="center center">
		<md-progress-circular md-mode="indeterminate" class="md-accent md-hue-3"></md-progress-circular>
	</div>
	<div class="prof-content">
		<div class="prof-header">
			<div layout layout-align="start center">
				<div
					class="prof-picture"
					ng-click="vm.editable ? vm.updateProfilePicture() : false"
					accept="image/*"
					md-ink-ripple>
					
					<img
					class="md-avatar"
					alt="{{ vm.service.model.profile.firstName }}"
					ng-src="{{vm.service.model.image.thumb ? vm.service.model.image.thumb : '../assets/images/user-avatar.jpg' }}">
					
					<md-icon md-font-set="material-icons" md-font-content="camera_alt" ng-if="vm.editable"></md-icon>
				</div>
				
				<span class="flex-sep"></span>
				
				<div class="prof-header-details" layout="column" layout-align="center start" flex>
					<h3 class="md-title">{{vm.service.model.profile.fullName}}</h3>
					<p class="md-caption">
						adicionado
						<span am-time-ago="vm.service.model.createdAt"></span>
						<md-tooltip>
						{{vm.service.model.createdAt | customMoment:'DD/MM/YYYY HH:mm:ss'}}
						</md-tooltip>
					</p>
					
					<md-button class="md-fab md-mini" ui-sref="app.edit-user(vm.service.model)" aria-label="Editar perfil">
						<md-icon md-font-set="material-icons">edit</md-icon>
					</md-button>
				</div>
			</div>
		</div>
		<div class="prof-details">
			<md-list>
				<md-list-item>
					<md-icon md-font-set="material-icons" md-font-content="face"></md-icon>
					<p>{{vm.service.model.profile.fullName}}</p>
				</md-list-item>
				
				<md-list-item>
					<md-icon md-font-set="material-icons" md-font-content="mail"></md-icon>
					<p>{{vm.service.model.email}}</p>
				</md-list-item>
				
				<md-list-item>
					<md-icon md-font-set="material-icons" md-font-content="phone"></md-icon>
					<p>
						<span ng-if="vm.service.model.profile.contact.mobile">{{vm.service.model.profile.contact.mobile | brPhoneNumber}}</span>
						<span ng-if="vm.service.model.profile.contact.mobile && vm.service.model.profile.contact.mobile"> - </span>
						<span ng-if="vm.service.model.profile.contact.phone">{{vm.service.model.profile.contact.phone | brPhoneNumber}}</span>
					</p>
				</md-list-item>
				
				<md-list-item ng-if="vm.editable">
					<md-icon class="danger" md-font-set="material-icons" md-font-content="lock_outline"></md-icon>
					<p>
						<a class="danger" ui-sref="app.account-password({_id: vm.service.model._id})">Alterar minha senha</a>
					</p>
				</md-list-item>
			</md-list>
		</div>
		<div class="act-feed" layout>
			<list
				params="vm.params"
				template-url="app/activity/list.tpl.html"
				class="list-default list-manual list-activity"
				flex flex-xs="none">
			</list>
		</div>
	</div>
</div>