<div class="wrapper">
	
	<div class="title-box" layout="row">
		<div>
			<h2 class="hm-title">{{'ACCS_TAB_LINK' | translate}}</h2>
		</div>
	</div>
	<br>
	
	<div class="panel">
		<div class="panel-heading">
			<div class="panel-title">
				<md-icon md-font-set="material-icons" md-font-content="supervisor_account"></md-icon> {{vm.edit ? 'Editar' : 'Nova'}} conta
			</div>
		</div>
		
		<!-- LOADING -->
		<div class="loading" ng-show="vm.factory.busy.status('get')">
			<p layout layout-align="center center">
				<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
			</p>
		</div>
		
		<!-- FORM -->
		<form name="form" class="form form-product wrapper content" ng-if="!vm.edit || vm.edit && vm.service.model">
			<div class="panel-body">
				
				<p class="title">Informações de login</p>
				<div person-form-content model="vm.service.model.profile"></div>
				<div layout layout-sm="column">
					<md-input-container flex flex-xs="none">
						<label>{{'EMAIL' | translate}}</label>
						<md-icon md-font-set="material-icons">mail</md-icon>
						<input ng-model="vm.service.model.email" required>
					</md-input-container>
				</div>
				
				<input type="hidden" ng-model="vm.service.model.password">
				
				<div company-form model="vm.service.model.company"></div>
				
				<p class="title">Plano atual</p>
				<div layout layout-sm="column">
					<md-input-container>
						<label>Usuários</label>
						<md-icon md-font-set="material-icons">phonelink_setup</md-icon>
						<input ng-model="vm.service.model.account.users" type="number" required>
					</md-input-container>

					<md-input-container>
						<label>Situação</label>
						<md-select ng-model="vm.service.model.account.active" required>
							<md-option ng-value="true" ng-selected="vm.service.model.account.active === true">
								Ativo
							</md-option>
							<md-option ng-value="false" ng-selected="vm.service.model.account.active === false">
								Inativo
							</md-option>
						</md-select>
					</md-input-container>
				</div>

				<div layout layout-align="start center">
					<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('save')"></md-progress-circular>
					<md-button ng-disabled="vm.service.formStatus('save', form.$invalid)" ng-click="vm.submit($event)" class="clean-left md-raised md-primary" ng-if="!vm.service.busy.status('save')">
						{{'SAVE' | translate}}
						
						<md-tooltip>
						{{'SAVE' | translate}}
						</md-tooltip>
					</md-button>
					<md-button ng-disabled="vm.service.busy.status('save')" ui-sref="app.accounts" class="md-accent">
						{{'CANCEL' | translate}}
						
						<md-tooltip>
						{{'CANCEL' | translate}}
						</md-tooltip>
					</md-button>
				</div>
			</div>
		</form>
		<!-- /FORM -->
	</div>
</div>