.wrapper.account-profile {
	max-width: 650px;

	&[editable=true] {
		.prof-picture {
			cursor: pointer;
		}
	}
	.prof-content {
		display: none;

		.act-feed {
			max-width: 100%;
		}
	}
	&[loading=false] {
		.prof-content {
			display: block;
		}
		.loading {
			display: none;
		}
	}
	.loading {
		padding: 20px;
	}
	.prof-header {
		.md-avatar {
			max-width: 80px;
		}
		.md-title {
			margin-bottom: 0px;
		}
		.md-caption {
			margin-top: 0px;
		}
	}
	.prof-header-details {
		position: relative;

		.md-fab {
			position: absolute;
			bottom: -28px;
			right: 10px;
		}
	}
	.prof-details {
		background-color: rgba(0, 0, 0, 0.03);
	}
	.prof-picture {
		position: relative;

		md-icon {
			position: absolute;
			bottom: 10px;
			left: 15px;
			color: rgba(0, 0, 0, 0.5)
		}
	}
}

.wrapper.account-password-wrapper {
	max-width: 650px;
}