<div class="no-results hide-entries hide-loading hide-starting">
    <p>
        <md-icon md-font-set="material-icons">error_outline</md-icon> Nenhum resultado
    </p>
</div>

<div class="loading show-loading">
    <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <p layout layout-align="start center">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
    </p>
</div>

<div class="list-content no-action hide-loading hide-starting">
    <div ng-repeat="item in vm.service.entries" ng-controller="$AccountsItemCtrl as itemCtrl">
        <div class="list-item" layout="column" layout-sm="row" layout-gt-sm="row">
            <div class="list-inner-content" layout="row" flex-sm flex-gt-sm>
                <p>{{ item[vm.service.extra.listTitle] }}</p>
            </div>
            <div class="list-actions" layout layout-align="end center" layout-align-xs="start center">
                <md-button ng-click="vm.service.primaryAction(item, $event)">Editar</md-button>
                <md-switch ng-model="itemCtrl.model.account.active" ng-change="itemCtrl.toggleActive()" aria-label="{{'CHANGE_STATUS' | translate}}"></md-switch>
                <md-button aria-label="Delete" class="md-icon-button">
                    <md-icon md-font-set="material-icons" ng-click="vm.service.secondaryAction($event, item, $index)" aria-label="Open Chat" class="md-hue-3">delete</md-icon>
                </md-button>
            </div>
        </div>
        
        <md-divider></md-divider>
    </div>
    <div
        list-load-more
        service="vm.service"
        ng-if="vm.service.loadMoreBtn"
        class="list-load-more">
    </div>
</div>