<div class="md-list-item-text list-more-wrapper">
    <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="vm.service.busy.status('loadingMore')"></md-progress-linear>
	<md-button class="md-primary list-more" ng-click="vm.service.goToNextPage()">
		<md-icon md-font-set="material-icons">loop</md-icon> Carregar mais resultados
	</md-button>
</div>