<div layout layout-xs="column" ng-if="vm.formLocale === 'pt_BR'">
    <md-input-container flex-sm="vm.flex" flex-gt-sm="vm.flex">
        <label>{{'PHONE' | translate}}</label>
        <md-icon md-font-set="material-icons">smartphone</md-icon>
        <input type="tel" ng-model="vm.model.phone" ui-br-phone-number >
    </md-input-container>
    <md-input-container flex-sm="vm.flex" flex-gt-sm="vm.flex">
        <label>{{'MOBILE' | translate}}</label>
        <input type="tel" ng-model="vm.model.mobile" ui-br-phone-number required>
    </md-input-container>
</div>
<div layout layout-xs="column" ng-if="vm.formLocale !== 'pt_BR'">
    <md-input-container flex-sm="vm.flex" flex-gt-sm="vm.flex">
        <label>{{'PHONE' | translate}}</label>
        <md-icon md-font-set="material-icons">smartphone</md-icon>
        <input type="tel" ng-model="vm.model.phone">
    </md-input-container>
    <md-input-container flex-sm="vm.flex" flex-gt-sm="vm.flex">
        <label>{{'MOBILE' | translate}}</label>
        <input type="tel" ng-model="vm.model.mobile" required>
    </md-input-container>
</div>