<p class="title">{{'ACC_FORM_COMPANY_DETAILS' | translate}}</p>

<div layout layout-xs="column">
    <md-input-container flex>
        <label>Contato na empresa</label>
        <md-icon md-font-set="material-icons">face</md-icon>
        <input type="tel" ng-model="vm.model.company.responsible">
    </md-input-container>
</div>

<div layout layout-xs="column">
    <md-input-container flex-sm="30" flex-gt-sm="30">
        <label>CNPJ</label>
        <md-icon md-font-set="material-icons">store</md-icon>
        <input type="tel" ng-model="vm.model.profile.doc.cnpj" ui-br-cnpj-mask>
    </md-input-container>
    
    <md-input-container flex-xs="none" flex>
        <label>{{'COMPANY' | translate}}</label>
        <input ng-model="vm.model.company.name" required>
    </md-input-container>
</div>

<!-- ADDRESS DIRECTIVE -->
<div address-form-content model="vm.model.address"></div>

<!-- PHONE DIRECTIVE -->
<div phone-form-content model="vm.model.contact"></div>