.product-slider {
	width: 440px;
	height: 466px;
	margin-bottom: 20px;

	.thumbs {
		width: 100%;
		margin-top: 20px;
		margin-right: 0px;
		background-color: transparent;
	}
	.thumb {
		max-width: 70px;
		position: relative;
		opacity: .5;
		margin-bottom: 20px;

		&:hover, &.active {
			opacity: 1;
		}
		img {
			width: 70px;
			display: block;
		}
	}
	.pics {
		width: 100%;
		height: 466px;
		overflow: hidden;
		position: relative;
	}
}
@media (max-width:600px) {
	.product-slider {
		width: 100%;
		height: auto;

		.thumb {
			display: table-cell;
			padding-right: 20px;
			max-width: 100px;
		}
		.pics {
			height: auto;
			min-height: 300px;

			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
@media (min-width:600px) {
	.product-slider .thumbs {
		max-width: 80px;
		height: 100%;
		-webkit-order: -1;
		-ms-flex-order: -1;
		order: -1;
		margin-right: 5px;
		margin-top: 0px;
	}
}
@media (min-width:751px) and (max-width:960px) {
	.product-slider {
		width: 300px;
		height: 286px;

		.thumbs {
			max-width: 60px;
		}
		.thumb {
			img {
				width: 50px;
			}
		}
		.pics {
			img {
				height: 286px;
			}
		}
	}
}
@media (min-width:601px) and (max-width:750px) {
	.product-slider {
		width: 200px;
		height: 180px;

		.thumbs {
			max-width: 60px;
		}
		.thumb {
			img {
				width: 50px;
			}
		}
		.pics {
			img {
				height: 180px;
			}
		}
	}
}
@media (min-width:601px) {
	.product-slider {
		.ng-enter, .ng-leave {
			-webkit-transition: 0.5s linear all;
			-moz-transition: 0.5s linear all;
			-o-transition: 0.5s linear all;
			transition: 0.5s linear all;
			position: absolute;
		}
		.ng-enter {
			left: 100%;
		}
		.ng-leave, .ng-enter.ng-enter-active {
			left: 0;
		}
		.ng-leave.ng-leave-active {
			left: -100%;
		}
	}
}