<div class="product-slider" layout-sm="row" layout-gt-sm="row">
	<div class="pics" layout="column">
		<div ng-repeat="item in vm.images" class="pic" ng-if="vm.selected === $index">
			<img ng-src="{{item.thumb}}" alt="">
		</div>
	</div>
	
	<md-content class="thumbs" md-scroll>
		<div class="thumb" ng-repeat="item in vm.images" ng-class="{'active' : vm.selected === $index}" ng-click="vm.selected=$index">
			<img ng-src="{{item.img}}" alt="">
		</div>
	</md-content>
</div>