<form name="vm.form" layout-padding>
	<div class="group" ng-if="vm.listBrStates">
		<h4 class="title"><md-icon md-font-set="material-icons">place</md-icon> Localização</h4>
		<md-select
			placeholder="Estado"
			class="state"
			ng-model="vm.listFilters.state">
			<md-option ng-value="opt.value" ng-repeat="opt in vm.listBrStates">
				{{ opt.name }}
			</md-option>
		</md-select>
	</div>
	<div class="group">
		<h4 class="title"><md-icon md-font-set="material-icons">event</md-icon> Periodo</h4>
		<md-input-container>
			<label>Data inicial</label>
			<input mask="39/19/2999" ng-model="vm.listFilters.startDate" ng-model-options="{ updateOn: 'blur' }">
		</md-input-container>
		<md-input-container>
			<label>Data final</label>
			<input mask="39/19/2999" ng-model="vm.listFilters.endDate" ng-model-options="{ updateOn: 'blur' }">
		</md-input-container>
	</div>
</form>