/*SIDENAV*/
md-sidenav {
	width: 260px;
	min-width: 260px;
	z-index: 59;
	background-color: #f5f5f5;
	overflow-x: hidden;

	md-content {
		background-color: transparent;
	}
	.highlight {
		background-color: beige;
	}
	.sn-title {
		padding-left: 15px;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
	}
	.md-button {
		md-icon {
			vertical-align: sub;
			padding-right: 10px;
			color: inherit;
			font-size: 16px;
		}
	}
	.page-footer {
		background-color: rgba(0, 0, 0, 0.4);

		.copyright {
			margin: 0px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 14px;
			color: rgba(255, 255, 255, 0.87)
		}
	}
}
md-sidenav.side-admin {
	overflow: hidden;

	.page-footer {
		background-color: #1349B2;
		max-height: 40px;
	}
}