<div sidenav-user-toolbar class="sidenav-user-toolbar" ng-if="!vm.currentUser"></div>

<md-content flex layout="column">
    <div class="sidenav-menu" sidenav-menu flex="noshrink"></div>
    
    <!-- footer -->
    <div class="page-footer" layout="column" layout-align="center center" flex="noshrink">
        <p class="copyright">
            {{ main.setting.copyright }} © {{ main.year }}
        </p>
    </div>
    <!-- /footer -->
</md-content>