<div class="profile">
    <!-- FORM -->
    <form name="form" class="form form-profile wrapper content" ng-if="!vm.edit || vm.edit && vm.service.model">
        <div class="form-box has-icon basic">
            <div>
                <p class="title"><md-icon md-font-set="material-icons" md-font-content="account_circle"></md-icon> {{'BASIC_DETAILS' | translate}}</p>
            </div>
            <div class="box">
                <div person-form-content model="vm.service.model.profile"></div>
                <div layout layout-sm="column">
                    <md-input-container flex flex-xs="none">
                        <label>{{'EMAIL' | translate}}</label>
                        <md-icon md-font-set="material-icons">mail</md-icon>
                        <input ng-model="vm.service.model.email" required>
                    </md-input-container>
                </div>
                
                <div phone-form-content model="vm.service.model.profile.contact" set-flex="50"></div>
            </div>
        </div>
        
        <div class="form-box has-icon basic">
            <div>
                <p class="title"><md-icon md-font-set="material-icons" md-font-content="payment"></md-icon> {{'PAYMENT_DETAILS' | translate}}</p>
            </div>
            
            <div class="box">
                <span class="md-caption">{{'WHO_IS_PAYING' | translate}}</span>
                <!-- ADDRESS DIRECTIVE -->
                <div person-form-content model="vm.service.model.profile.address.payment.payer"></div>
                
                <span class="md-caption">{{'BILLING_ADDRESS' | translate}}</span>
                <!-- ADDRESS DIRECTIVE -->
                <div address-form-content model="vm.service.model.profile.address.payment"></div>
            </div>
        </div>
        
        <div class="form-box has-icon basic">
            <div>
                <p class="title"><md-icon md-font-set="material-icons" md-font-content="local_shipping"></md-icon> {{'SHIPPING_DETAILS' | translate}}</p>
            </div>
            
            <div class="box">
                <span class="md-caption">{{'WHO_IS_RECEIVING' | translate}}</span>
                <!-- ADDRESS DIRECTIVE -->
                <div person-form-content model="vm.service.model.profile.address.shipping.to"></div>
                
                <span class="md-caption">{{'SHIPPING_ADDRESS' | translate}}</span>
                <!-- ADDRESS DIRECTIVE -->
                <div address-form-content model="vm.service.model.profile.address.shipping"></div>
            </div>
        </div>

        <div layout layout-align="start center">
            <md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('save')"></md-progress-circular>
            <md-button ng-disabled="vm.service.formStatus('save', form.$invalid)" ng-click="vm.service.update()" class="clean-left md-raised md-primary" ng-if="!vm.service.busy.status('save')">
                {{'SAVE' | translate}}
                
                <md-tooltip>
                {{'SAVE' | translate}}
                </md-tooltip>
            </md-button>
        </div>
    </form>
    <!-- /FORM -->
</div>