.account-public {
	.account-menu {
		max-width: 280px;
	}
	.side-menu {
		padding-top: 0px;
	}
	.user-details {
		margin-right: 20px;
		
		.user-details-box {
			padding: 10px;
			/*background-color: rgba(0, 0, 0, 0.04);*/
		}

		md-divider {
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.pic {
			margin-right: 10px;
			width: 40px;
			height: 40px;
			border-radius: 100%;			/*background-image: url('../assets/images/user-avatar.jpg');*/
			background-size: cover;
		}
		p {
			width: 100%;
			margin: 0px;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 0.010em;
			line-height: 20px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			&.username {
				font-weight: 500;
			}
		}
	}
}