<div class="wrapper account-public">
    <div class="title-border">
        <h1 class="page-title title">{{'YOUR_ACCOUNT' | translate}}</h1>
        <div class="border"></div>
    </div>
    <br>
    <div layout-gt-sm layout="column">
        <div class="account-menu">
            <div class="user-details">
                <div class="user-details-box" layout layout-align="start center">
                    <div class="pic"></div>
                    
                    <div flex>
                        <p class="username">{{vm.currentUser.model.profile.fullName}}</p>
                        <p>{{vm.currentUser.model.email}}</p>
                    </div>
                </div>

                <md-divider></md-divider>
            </div>
            
            <div
                side-menu
                items="vm.menu.userLoggedIn"
                class="side-menu"
                layout="row"
                hide-sm hide-xs>
            </div>
        </div>
        
        <div class="account-content" view="{{vm.step.innerTabGroup}}" flex="no-shrink">
            <div ui-view="account-content" class="anim-in-out anim-slide-below-fade" data-anim-sync="true"></div>
        </div>
    </div>
</div>