.cart-form {
	md-select {
		md-select-value {
			.cart-color {
				margin-bottom: 0px;
			}
		}
	}
	.row {
		.label {
			min-width: 120px;
			padding-right: 20px;
			padding-top: 28px;
		}
	}
	.form-qty {
		md-input-container {
			width: 90px;
			margin-top: 21px;
			margin-bottom: 0px;
		}
		.md-icon-button {
			margin-top: 18px;
			margin-left: 0px;

			md-icon {
				font-size: 15px;
			}
		}
	}
	.form-action {
		.md-button {
			&:first-of-type {
				margin-left: 0px;
			}
			md-icon {
				font-size: 20px !important;
			}
		}
	}
	.hint {
		font-size: 12px;
		line-height: 14px;
		overflow: hidden;
		transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
		opacity: 1;
		margin-top: 0;
		padding-top: 5px;
		padding-right: 5px;
	}
}
.cart-color {
	width: 15px;
	height: 15px;
	display: inline-block;
	margin-bottom: -2px;
	margin-right: 10px;

	&.blue {
		background-color: #5484ed;
	}
	&.green {
		background-color: #04B404;
	}
	&.grey {
		background-color: grey;
	}
	&.yellow {
		background-color: yellow;
	}
	&.orange {
		background-color: orange;
	}
	&.purple {
		background-color: purple;
	}
	&.red {
		background-color: #dc2127;
	}
	&.white {
		background-color: white;
	}
	&.black {
		background-color: black;
	}
	&.gold {
		background-color: gold;
	}
	&.silver {
		background-color: silver;
	}
}