<form name="vm.form" class="cart-form">
	<div class="form-colors row" ng-repeat="item in vm.product.variants.attrs">
		<div ng-if="item.name === 'colors'" layout>
			<div class="label">
				{{'COLOR' | translate}}
			</div>
			
			<md-select ng-model="vm.cart.model.attrs.colorValue" ng-change="vm.variantChange('colors', vm.cart.model.attrs.colorValue, $index)" placeholder="{{'CHOOSE' | translate}}" required flex="40">
				<md-option ng-repeat="item in vm.colors" value="{{item.value}}" ng-disabled="item.disabled"><span class="cart-color" ng-class="item.value"></span>{{item.display | translate}}</md-option>
			</md-select>
		</div>
		<div ng-if="item.name === 'sizes'" layout>
			<div class="label">
				{{'SIZE' | translate}}
			</div>
			
			<md-select ng-model="vm.cart.model.attrs.sizes" ng-change="vm.variantChange('sizes', vm.cart.model.attrs.sizes, $index)" placeholder="{{'CHOOSE' | translate}}" required flex="40">
				<md-option ng-repeat="item in vm.sizes" value="{{item.value}}" ng-disabled="item.disabled">{{item.display | translate}}</md-option>
			</md-select>
		</div>
	</div>
	
	<div class="form-qty row" layout>
		<div class="label">
			{{'QTY' | translate}}
		</div>
		
		<md-input-container md-no-float>
			<input type="number" min="0" max="{{vm.qtyAvailable}}" name="qty" aria-label="{{'CART_AVAI_ERROR' | translate}}" ng-model="vm.cart.model.qty" required>
			<div class="hint">{{vm.qtyAvailable}} {{'CART_AVAI' | translate}}</div>
			<div ng-messages="vm.form.qty.$error">
				<div ng-message="max">{{'CART_AVAI_ERROR' | translate}}</div>
			</div>
		</md-input-container>
	</div>
	
	<div class="form-action row" layout layout-align="start center">
		<div class="label"></div>
		<md-button class="md-primary md-raised" ng-click="vm.submit($event)"><md-icon md-font-set="material-icons">add_shopping_cart</md-icon> {{'CART_ADD' | translate}}</md-button>
	</div>
</form>