.sidenav-user-toolbar {
	md-toolbar {
		flex-shrink: 0;
		/*background-image: url('../assets/images/side-background.jpg');*/
		position: relative;

		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(19, 73, 178, .6);
			z-index: 0;
		}
		.md-toolbar-tools {
			position: relative;
			z-index: 1;
		}
		.pic {
			margin-top: 60px;
			width: 50px;
			height: 50px;
			border-radius: 100%;
			/*background-image: url('../assets/images/user-avatar.jpg');*/
			background-size: cover;
		}
		.user {
			margin-top: 10px;
			font-size: 14px;
			font-weight: 400;
			width: 238px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.email {
			font-size: 14px;
			font-weight: 100;
			width: 238px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}