<md-toolbar class="md-tall" ng-if="vm.user._current">
    <div class="md-toolbar-tools md-toolbar-tools-bottom">
        <div layout="column" flex>
            <div class="pic"></div>
            <div class="user">{{vm.user._current.model.profile.fullName}}</div>
            <div class="email">{{vm.user._current.model.email}}</div>
        </div>
    </div>
</md-toolbar>