<!doctype html>
<html ng-app="mtda.seed" ng-controller="$MainCtrl as main">
    <head>
        <base href="/" />
        <meta charset="utf-8">
        <title>O Cotidiano - Moda plus size</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        
        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <!-- run `gulp inject` to automatically populate bower styles dependencies -->
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- inject:css -->
        <!-- css files will be automatically insert here -->
        <!-- endinject -->
        <!-- endbuild -->
        
        <!-- render -->
        <link rel="stylesheet" href="mtda-kit.css" />
        <!-- /render -->
    </head>
    <body layout="row" ng-class="{'fixed-toolbar-route': main.state.current.name !== 'app.home'}" route="{{main.state.current.name | dotToDash}}">
        <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <md-sidenav
            sidenav
            class="side-left page-menu md-sidenav-left md-whiteframe-z2 md-closed"
            md-component-id="left"
            md-is-locked-open="false"
            layout="column">
        </md-sidenav>
        <md-sidenav
            sidenav
            template-url="core/sidenav/sidenavAdmin.tpl.html"
            class="side-admin page-menu md-sidenav-left md-whiteframe-z1 md-closed"
            md-component-id="admin"
            layout="column">
        </md-sidenav>
        <md-content
            md-scroll-y
            ui-view
            name="app"
            class="app-content" layout="column" flex>
        </md-content>
        <md-sidenav
            cart-sidenav
            class="cart-sidenav page-menu md-sidenav-right md-whiteframe-z2 md-closed"
            md-component-id="cart"
            layout="column">
        </md-sidenav>
        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <!-- run `gulp inject` to automatically populate bower script dependencies -->
        <!-- endbower -->
        <!-- endbuild -->
        <script src="mtda-kit.js"></script>
        <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
        <!-- inject:js -->
        <!-- js files will be automatically insert here -->
        <!-- endinject -->
        
        <!-- inject:partials -->
        <!-- angular templates will be automatically converted in js and inserted here -->
        <!-- endinject -->
        <!-- endbuild -->
        
        <script
        src="//www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
        async defer>
        </script>
        
        <script src="//platform.twitter.com/widgets.js"></script>
    </body>
</html>