list.list-default {
	.md-whiteframe-1dp {
		background-color: white;
	}
	.list-content {
		padding-top: 0px;
		padding-bottom: 0px;

		.no-action {
			button.md-no-style {
				cursor: default;

				&:hover {
					background-color: inherit;
					cursor: default;
				}
				>.md-ripple-container {
					display: none !important;
					cursor: default;
				}
			}
		}
		.no-results {
			padding: 0 16px;

			p {
				font-size: 20px;
				color: red;

				md-icon {
					vertical-align: text-top;
					color: inherit;
				}
			}
		}
		.loading {
			p {
				padding: 0 16px;
				font-size: 20px;

				md-icon {
					vertical-align: text-top;
					color: inherit;
				}
			}
		}
	}
	.list-search-box {
		padding: 0 16px;

		form {
			md-input-container {
				width: 100%;
				height: 35px;
				margin: 14px 0px;

				input {
					border-bottom: none;
				}
			}
		}
	}
	.list-action-box {
		border-left: 1px solid #ededed;
	}
	.list-load-more {
		.list-more-wrapper {
			width: 100%;
			position: relative;

			md-progress {
				position: absolute;
				top: -9px;
			}
		}
		button {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
			margin: 0px;
			border-radius: 0px;

			md-icon {
				font-size: 18px;
				vertical-align: sub;
			}
		}
	}
}
.list-content.no-action p {
	margin: 0px;
	margin-top: 15px;
}

/*LIST STATES*/
list {
	>div[is-starting=true] {
		.hide-starting {
			display: none;
		}
	}
	>div[is-loading=true] {
		.hide-loading {
			display: none;
		}
	}
	>div[is-loading=false] {
		.show-loading {
			display: none;
		}
	}
	>div[has-entries=true] {
		.hide-entries {
			display: none;
		}
	}
	>div[has-entries=false][is-loading=false] {
		md-list.list-content {
			display: none;
		}
	}
}
.list-manual {
	.list-inner-content {
		padding-left: 16px;
	}
}
.custom-filters {
	background-color: rgba(0, 0, 0, 0.04);
	padding: 0 16px;
}
list.list-table {
	.status {
		margin-right: 10px;
	}
	.list-content {
		.item {
			padding-top: 10px;
			padding-bottom: 10px;

			p {
				margin: 0px;
			}
		}
		.no-results p {
			margin-top: 20px;
		}
	}
}
list.list-timeline {
	md-list {
		margin: 0 20px;
	}
	.list-content {
		background-color: #f9f9f9;
	}
	timeline {
		timeline-panel {
			cursor: pointer;
			box-shadow: 0 1px 6px rgba(0, 0, 0, 0.075);
		}
		timeline-badge {
			i {
				line-height: 51px;
				width: 100%;
				text-align: center;
			}
			.md-avatar {
				width: 52px;
				height: 52px;
				border-radius: 50%;
				margin-top: -3px;
				margin-left: -1px
			}
		}
		h4 {
			margin: 10px 0;
			font-size: 20px;
			font-weight: 500;
			letter-spacing: 0.005em
		}
		p {
			margin: 0;

			small {
				color: #777;

				i {
					font-size: inherit;
					width: 14px;
					height: 14px;
					vertical-align: middle;
				}
			}
		}
	}
}