<md-tabs class="wrapper" md-dynamic-height>
	<md-tab ng-repeat="item in vm.menu.owner" ng-if="vm.permissions.owner || vm.permissions.admin" ng-click="vm.goTo(item.href)" md-active="vm.activeTab(item.tabGroup)" label="{{item.title | translate}}"></md-tab>
	<md-tab ng-repeat="item in vm.menu.admin" ng-if="vm.permissions.admin" ng-click="vm.goTo(item.href)" md-active="vm.activeTab(item.tabGroup)" label="{{item.title | translate}}"></md-tab>
</md-tabs>