<div
	class="inner-breadcrumbs"
	breadcrumbs
	data="vm.breadcrumbs">
</div>
<div class="wrapper public category-public product-view" ng-if="vm.service">
	
	<div class="title-border">
		<h1 class="page-title title">{{ vm.categoryTitle }}</h1>
		<div class="border"></div>
	</div>
	
	<div class="filters" layout="row" layout-align="start center">
		<div layout="row" layout-align="start center" flex>
			<div flex>
				{{'SHOWING' | translate}}: {{vm.service.showingStart}} - {{vm.service.showingEnd}} {{'OF' | translate}} {{vm.service.total}} {{'RESULT-S' | translate}}
			</div>
			<div layout="row" layout-align="end center" flex>
				<div hide-xs>Classificar por:</div>
				<md-input-container>
					<md-select ng-model="vm.service.filters.sort" aria-label="classificar por">
						<md-option ng-repeat="sort in vm.service.sortOptions" value="{{sort.value}}">
							{{sort.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>
	</div>
	
	<div layout="column" layout-sm="row" layout-gt-sm="row">
		<div class="category-list" flex-sm flex-gt-sm>
			<list
				params="vm.params"
				instance="vm.service"
				template-url="core/category/public/list.tpl.html">
			</list>
		</div>
	</div>
</div>