<div class="category-list-wrapper">
	
	<div class="no-results" ng-show="!vm.service.entries.length && !vm.service.busy.status('loading') && !vm.service.starting">
		<p>
			<md-icon md-font-set="material-icons">error_outline</md-icon> {{'NO_RESULTS' | translate}}
		</p>
	</div>
	
	<div class="loading" ng-show="vm.service.busy.status('loading') || vm.service.starting">
		<p layout layout-align="start center">
			<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> {{'LOADING_RESULTS' | translate}}
		</p>
	</div>
	
	<div
		class="list-content category-item"
		ng-show="vm.service.entries.length && !vm.service.busy.status('loading') && !vm.service.starting"
		category-item 
		entries="vm.service.entries"
		category="vm.service.filters.category"
		child="vm.service.filters.child">
	</div>
	
	<div layout="row" ng-if="vm.service.entries.length">
		<md-button class="md-primary list-more" ng-click="vm.service.goToPrevPage()" ng-disabled="!(vm.service.page > 2)">
			<md-icon md-font-set="material-icons">navigate_before</md-icon> {{'PREV' | translate}}
		</md-button>
		<md-button class="md-primary list-more" ng-click="vm.service.goToNextPage()" ng-disabled="!vm.service.loadMoreBtn">
			{{'NEXT' | translate}} <md-icon md-font-set="material-icons">navigate_next</md-icon>
		</md-button>
	</div>
</div>