.inner-breadcrumbs {
	margin-left: 1px;
}
.category-public {
	.category-list-wrapper {

		/*margin-right: 10px;*/
		.no-results {
			p {
				border-top: 1px solid rgba(0, 0, 0, 0.07);
				padding-top: 10px;
				color: red;
				font-size: 20px;
				margin: 0px;
				margin-right: 1%;

				md-icon {
					color: inherit;
					vertical-align: text-bottom;
				}
			}
		}
		.loading {
			border-top: 1px solid rgba(0, 0, 0, 0.07);
			padding-top: 10px;
			margin-right: 1%;

			p {
				margin-left: -8px;
			}
		}
		.list-more {
			width: 50%;
			margin-right: 0px;
			margin-left: 0px;

			md-icon {
				vertical-align: middle;
				margin-top: -3px;
			}
		}
	}
	.category-menu {
		min-width: 190px;
		max-width: 250px;

		@media (max-width:600px) {
			max-width: 100%;
		}
		.category-item:last-child {
			border-bottom: none;
		}
		.category-item {
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
		.paren-cat {
			border-radius: 2px;
			color: rgba(0, 0, 0, 0.9);
			padding: 0 6px;
			display: block;
			font-size: 14px;
			font-weight: 500;
			line-height: 30px;
			text-decoration: none;
			text-transform: uppercase;
			position: relative;
			cursor: pointer;

			@media (max-width:1024px) {
				font-size: 12px;
			}
		}
		.child-cat {
			border-radius: 2px;
			color: rgba(0, 0, 0, 0.4);
			padding: 0 6px;
			display: block;
			font-size: 14px;
			font-weight: 500;
			line-height: 30px;
			text-decoration: none;
			position: relative;
			cursor: pointer;
		}
		.paren-cat.active, .paren-cat:hover, .child-cat.active, .child-cat:hover {
			color: #1349B2;
		}

		.cat-menu-sep {
			margin-top: 10px;
			padding-bottom: 10px;
			margin-left: -17%;
			margin-right: -17%;
			border-top: 1px solid rgba(0, 0, 0, 0.1);
			width: 120%;
		}
	}
	.category-list {
	}
	.page-title {
		margin-top: 0px;
	}
	.filters {
		margin-top: 0px;
		margin-bottom: 10px;
		margin-right: 0.90%;
		font-size: 14px;

		md-input-container {
			margin: 0px;
			padding: 0 0 0 5px;
		}
		.md-select-value {
			border-bottom: none;
			background-color: rgba(0, 0, 0, 0.14);
			padding: 1px 3px 1px 10px;
			line-height: 24px;
		}
		.sort-sep {
			min-width: 190px;
			max-width: 250px;
			min-height: 10px;

			@media (max-width:1024px) {
				min-width: 100px;
				max-width: 188px;
			}
			@media (max-width:729px) {
				display: none;
			}
		}
	}
}