<div class="wrapper panel account-password-wrapper">
	<div class="panel-heading">
		<div class="panel-title">
			<md-icon md-font-set="material-icons" md-font-content="lock_outline"></md-icon> Alterar senha
		</div>
	</div>
	
	<!-- LOADING -->
	<div class="loading" ng-show="vm.factory.busy.status('get')">
		<p layout layout-align="center center">
			<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
		</p>
	</div>
	
	<form class="project-type-form form has-icon" name="form" ng-if="!vm.factory.busy.status('get') && vm.service.model">
		<div class="panel-body">
			<div layout layout-xs="column" class="nome">
				<md-input-container flex-sm flex-gt-sm>
					<label>Senha antiga</label>
					<md-icon md-font-set="material-icons">history</md-icon>
					<input ng-model="vm.service.model.oldPassword" type="password" required>
				</md-input-container>
			</div>
			<div layout layout-xs="column" class="senha">
				<md-input-container flex-sm flex-gt-sm>
					<label>Nova senha</label>
					<md-icon md-font-set="material-icons">done</md-icon>
					<input ng-model="vm.service.model.newPassword" type="password" required>
				</md-input-container>
			</div>
			<div layout layout-xs="column" class="nova-senha">
				<md-input-container flex-sm flex-gt-sm>
					<label>Repetir senha</label>
					<md-icon md-font-set="material-icons">done_all</md-icon>
					<input ng-model="vm.service.model.confirmPassword" match="vm.service.model.newPassword" type="password" required>
				</md-input-container>
			</div>
			
			<br>
			
			<div layout layout-align="start center">
				<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('password')"></md-progress-circular>
				<md-button ng-disabled="vm.service.formStatus('password', form.$invalid)" ng-click="vm.submit($event)" class="clean-left md-primary" ng-if="!vm.service.busy.status('password')">
					Alterar
					
					<md-tooltip>
					Alterar senha
					</md-tooltip>
				</md-button>
				<md-button ng-disabled="vm.service.busy.status('save')" ng-click="vm.goToProfile()">
					{{'CANCEL' | translate}}
					
					<md-tooltip>
					{{'CANCEL' | translate}}
					</md-tooltip>
				</md-button>
			</div>
			
		</div>
	</form>
</div>