<div class="four-oh-four">
	<div class="icon">
		<md-icon md-font-set="material-icons" md-font-content="info_outline"></md-icon>
	</div>
	<div class="title">404</div>
	<div class="subtitle">Página não encontrada, retorne para a página principal e tente novamente.</div>
	<md-button class="md-raised" href="/"><md-icon md-font-set="material-icons" md-font-content="home"></md-icon> Página principal</md-button>
</div>