/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.four-oh-four {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #777;

    .icon {
        margin-top: 40px;

        md-icon {
            font-size: 128px;
            height: 128px;
            width: 128px;
            color: #777;
        }
    }
    .title {
        font-size: 128px;
        color: #777;
    }
    .md-button {
        margin-top: 20px;
        color: #777;

        md-icon {
            font-size: 21px;
            color: #777;
        }
    }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector