<div class="inner-loading" ng-show="vm.condition" layout="row" layout-align="center center">
	<p layout layout-align="center center">
		<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
	</p>
</div>