<div class="breadcrumbs md-caption">
	<div class="wrapper">
		<span><a ui-sref="app.home">Home</a></span>
		<span ng-if="vm.data.category"> / <a ui-sref="app.publicCategories({category:vm.data.category, child: undefined})" ui-sref-opts="{inherit:false}" ui-sref-active>{{vm.data.categoryTitle}}</a></span>
		<span ng-if="!vm.data.category && vm.data.categoryTitle"> / <a ui-sref="app.publicCategoriesEmpty()" ui-sref-opts="{inherit:false}" ui-sref-active>{{vm.data.categoryTitle}}</a></span>
		<span ng-if="vm.data.child"> / <a ui-sref="app.publicCategories({category:vm.data.category, child:vm.data.child})" ui-sref-opts="{inherit:false}" ui-sref-active>{{vm.data.childTitle}}</a></span>
		<span ng-if="vm.data.slug && vm.data.slugId"> / <a ui-sref="app.product({slug:vm.data.slug, id: vm.data.slugId, category:vm.data.category, child:vm.data.child})" ui-sref-opts="{inherit:false}" ui-sref-active>{{vm.data.slugTitle}}</a></span>
	</div>
</div>