.breadcrumbs {
	/*background-color: rgba(0,0,0,0.04);*/

	padding: 15px 0 15px 0;
	/*margin-bottom: 10px;*/
	text-transform: uppercase;
	font-size: 10px;
	
	a {
		color: #444;
		text-decoration: none;
	}

	.active, a:hover {
		color: #1349B2;
	}
}