<!-- LOADING -->
<div class="loading" ng-show="vm.factory.busy.status('getOptions')">
	<p layout layout-align="center center">
		<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
	</p>
</div>

<!-- FORM -->
<form name="form" class="form form-variant content" ng-show="!vm.factory.busy.status('getOptions')">
	<div class="form-box variant">
		<div>
			<p class="title">{{'VARI_PRODUCT_VARIATION' | translate}}</p>
		</div>
		<div class="box">
			<div class="variant-item" layout layout-sm="column" layout-align="start center" ng-repeat="item in vm.product.variants.attrs">
				<p class="variant-name">{{item.name | translate}}</p>
				
				<md-input-container md-no-float flex>
					<label>{{'CHOOSE' | translate}}..</label>
					<md-select ng-model="vm.service.model.attrs[$index].value" required>
						<md-option ng-repeat="option in item.options" value="{{option.value}}">
							{{option.display | translate}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
			
			<div layout layout-sm="column" layout-align="start center">
				<p class="variant-name">{{'QTY' | translate}}</p>
				<md-input-container md-no-float class="qty">
					<input type="number" ng-model="vm.service.model.cnt" placeholder="{{'QTY' | translate}}" required>
				</md-input-container>
			</div>
		</div>
	</div>
	
	<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('create')"></md-progress-circular>
	<md-button ng-disabled="vm.service.formStatus('create', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary clean-left" ng-if="!vm.service.busy.status('create')">
		{{'SAVE' | translate}}
		
		<md-tooltip>
		{{'SAVE' | translate}}
		</md-tooltip>
	</md-button>
</form>
<!-- /FORM -->