<!-- FORM -->
<form name="vm.form.paymentDetails" class="form payment-details content">
    <div class="form-box has-icon basic">
        <div>
            <p class="title"><md-icon md-font-set="material-icons">payment</md-icon> {{'PAYMENT_DETAILS' | translate}}</p>
        </div>
        
        <div class="box">
            <span class="md-caption">{{'WHO_IS_PAYING' | translate}}</span>
            <!-- ADDRESS DIRECTIVE -->
            <div person-form-content model="vm.service.model.payment.payer"></div>
            
            <span class="md-caption">{{'BILLING_ADDRESS' | translate}}</span>
            <!-- ADDRESS DIRECTIVE -->
            <div address-form-content model="vm.service.model.payment.address"></div>
            
            <!-- SAME ADDRESS FOR SHIPPING -->
            <span class="md-caption">{{'SHIPPING' | translate}}</span>
            <br><br>
            <div>
                <md-checkbox ng-model="vm.service.model.payment.same_for_shipping" aria-label="{{'SAME_FOR_SHIPPING' | translate}}">
                {{'SAME_FOR_SHIPPING' | translate}}
                </md-checkbox>
            </div>

            <br><br>
        </div>
        
        <div ng-include="'core/checkout/checkout-nav.tpl.html'" class="btn-group"></div>
    </div>
</form>
<!-- /FORM