body[route="app-login"] {
	md-sidenav {
		display: none !important;
	}
}

.login-default {
	.md-headline {
		color: #1349B2;
		margin: 0;
		padding-top: 20px;
	}

	form i {
		font-size: 16px;
		margin: 27px 8px 0 0;
	}
	button.entrar {
		width: 100%;
		margin: 6px 8px;
		margin-bottom: 8px;
		text-transform: uppercase;
	}
	facebook-login md-icon {
		margin-left: 0px;
	}
	button.registrar {
		width: 130px;
		margin: 0 auto;
		text-transform: capitalize;
	}
	a.lost {
		font-size: 11px;
		margin: 13px auto 17px;
		color: #bbb;
		text-decoration: none;
		display: block;
		text-align: center;
	}
	a.lost i {
		font-size: 12px;
		margin: 0;
	}
	a.lost:hover {
		color: #333;
		text-decoration: underline;
	}
	.wrapper {
		margin: 0 auto 10px;
		max-width: 280px;
		padding: 15px 15px;
		width: 100%;
	}
	.warn {
		text-align: center;
		padding-top: 20px;
		font-size: 12px;
		color: rgb(216, 27, 96);
	}
	h2.app-font {
		margin-bottom: 0px;
	}
	img.avatar {
		display: block;
		margin: 0 auto;
		opacity: .3;
	}
	.help {
		margin: 0 auto;
		max-width: 280px;
		width: 100%;
		padding-left: 18px;
	}
	@media (max-width:600px) {
		login-form .wrapper {
			box-shadow: none !important;
		}
	}
	.login-icon-wrapper md-icon {
		font-size: 96px;
		width: 96px;
		height: 96px;
		line-height: 96px;
		color: #1349B2;
	}
	.login-action-wrapper {
		padding: 0px 8px;
	}
	html facebook-login .md-button.md-raised {
		background-color: #45619d;
		color: white;
		width: 100%;
	}
	html facebook-login .md-button.md-raised:hover {
		background-color: #2f436e !important;
	}
	html facebook-login .md-button.md-raised[disabled] {
		background-color: rgba(0, 0, 0, 0.12) !important;
		color: rgba(0, 0, 0, 0.258824) !important;
	}
	.register .wrapper, .login-lost .wrapper {
		margin: 30px auto 10px;
		max-width: 400px;
		padding: 15px 15px;
	}
}

.login {
	background-color: white;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	
	.title {
		margin: 0;
		padding-top: 20px;
		text-align: center;
		color: #1349B2;

		h2 {
			font-size: 20px;
		}
	}
}

.login-icon-wrapper {
	padding-top: 30px;
}

.login, .register {
	max-width: 400px;
	margin: 40px auto 20px;
}