<div class="wrapper" layout="column" layout-align="start center" flex="no-shrink">
	<div class="login login-default md-whiteframe-1dp">
		<div class="title">
			<h2>{{'LOGIN_TITLE' | translate}}</h2>
		</div>
		
		<div login-form class="login-form md-padding"></div>

		<div class="help" layout="row">
			<a flex ui-sref="app.recovery" class="lost"><i class="fa fa-support"></i> {{'LOGIN_FORGOT_LINK' | translate}}</a>
			<a flex ui-sref="app.register" class="lost"><i class="fa fa-support"></i> {{'LOGIN_SIGNUP_LINK' | translate}}</a>
		</div>
	</div>
</div>