<div layout layout-xs="column" ng-if="vm.formLocale !== 'pt_BR'">
    <div ceper icon="true" model="vm.model.cep" address="vm.model" required="true" region="'uk'"></div>
</div>
<div layout layout-xs="column">
    <div ceper icon="true" model="vm.model.cep" address="vm.model" required="true" ng-if="vm.formLocale === 'pt_BR'"></div>
    <md-input-container class="hide-on-cep-search" flex-xs="none" flex ng-class="{'md-has-icon':vm.formLocale !== 'pt_BR'}">
        <label>{{'STREET' | translate}}</label>
        <input ng-model="vm.model.street" class="street-input" required>
    </md-input-container>
    <md-input-container class="hide-on-cep-search">
        <label>{{'NUMBER' | translate}}</label>
        <input ng-model="vm.model.num" class="number-input" required>
    </md-input-container>
</div>

<div class="hide-on-cep-search" layout layout-xs="column">
    <md-input-container flex-xs="none" flex>
        <label>{{'BAIRRO' | translate}}</label>
        <md-icon md-font-set="material-icons"></md-icon>
        <input ng-model="vm.model.bairro" ng-required="vm.formLocale === 'pt_BR'">
    </md-input-container>
    <md-input-container flex-xs="none" flex ng-if="vm.formLocale === 'pt_BR'">
        <label>{{'CITY' | translate}}</label>
        <input ng-model="vm.model.city" required>
    </md-input-container>
    <md-input-container ng-if="vm.formLocale !== 'pt_BR'">
        <label>{{'CITY' | translate}}</label>
        <input ng-model="vm.model.city" required>
    </md-input-container>
    <md-input-container ng-if="vm.formLocale === 'pt_BR'">
        <label>{{'STATE' | translate}}</label>
        <md-select ng-model="vm.model.state" required required="true">
            <md-option ng-repeat="opt in vm.states" ng-value="opt.value">{{opt.name}}</md-option>
        </md-select>
    </md-input-container>
</div>