<br>
<!-- FORM -->
<form name="form" class="form wrapper">
	<div class="form-box basic">
		<div>
			<p class="title">{{'BASIC_DETAILS' | translate}}</p>
		</div>
		<div class="box">
			<div layout layout-xs="column">
				<md-input-container flex>
					<label>{{'TITLE' | translate}}</label>
					<input ng-model="vm.banner.model.title" required>
				</md-input-container>
				<md-input-container flex>
					<label>URL</label>
					<input ng-model="vm.banner.model.url" required>
				</md-input-container>
			</div>
		</div>
	</div>
	<div class="form-box basic">
		<div>
			<p class="title">{{'IMAGE_UPLOAD' | translate}}</p>
		</div>
		<div class="box">
			<div layout="column">
				
				<md-button
					class="md-raised clean-left"
					ngf-select
					ng-model="vm.banner.model.picFile"
					accept="image/*">
					{{'CHOOSE_FILE' | translate}}
				</md-button>
				
				<br />
				
				<div
					ngf-drop
					ng-model="vm.banner.model.picFile"
					ngf-pattern="image/*"
					class="cropArea"
					ng-show="vm.banner.model.picFile">
					
					<div ng-cropper image="vm.banner.model.picFile" result-image="vm.banner.model.image64" cropper-options="vm.cropperOptions"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div layout layout-align="start center">
		<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.banner.busy.status('create')"></md-progress-circular>
		<md-button ng-disabled="vm.banner.formStatus('create', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary clean-left" ng-if="!vm.banner.busy.status('create')">
			{{'SAVE' | translate}}
			
			<md-tooltip>
			{{'SAVE' | translate}}
			</md-tooltip>
		</md-button>
		
		<md-button ng-disabled="vm.service.busy.status('create')" ui-sref="app.banner">
			{{'CANCEL' | translate}}
			
			<md-tooltip>
			{{'CANCEL' | translate}}
			</md-tooltip>
		</md-button>
	</div>
</form>
<!-- /FORM -->