[bar-avatar] {
    md-menu {
        display: flex;
    }
    md-menu > .md-button {
        text-transform: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 40px;
        margin-left: 0px;
        padding-left: 0px;

        &:hover {
            background-color: transparent;
            opacity: .8;
        }
    }
    .avatar {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        border-radius: 50%;
        background-size: cover;

        &[flex-order="0"] {
            margin-right: 5px;
            margin-left: 0px;
        }
    }
}