<md-menu>
    <md-button md-no-ink class="md-primary" aria-label="{{'OPEN_USER_MENU' | translate}}" data-badge="{{!!vm.factory.getCurrent()}}" ng-click="$mdOpenMenu()">
        <div layout="row" layout-align="start center">
            <div class="avatar" background-image="{{vm.currentUser.model.image.thumb ? vm.currentUser.model.image.thumb : 'assets/images/user-avatar.jpg'}}" flex-order="{{vm.pictureOrder ? vm.pictureOrder : 0}}"></div>
            <div>{{vm.currentUser.model.profile.fullName}}</div>
        </div>
    </md-button>
    <md-menu-content width="4">
        
        <md-menu-item ng-repeat="item in vm.avatarMenu" ng-if="vm.factory.getCurrent()">
            <md-button ui-sref="{{item.href}}" ng-if="item.href">
                <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
                {{item.title | translate}}
            </md-button>
        </md-menu-item>
        
        <md-menu-divider ng-if="vm.factory.getCurrent()"></md-menu-divider>
        
        <md-menu-item ng-if="vm.factory.getCurrent()">
            <md-button ng-click="vm.logout()">
                <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                {{'LOGOUT' | translate}}
            </md-button>
        </md-menu-item>
        
        <md-menu-item ng-if="!vm.factory.getCurrent()">
            <md-button ui-sref="app.login">
                <md-icon md-font-set="material-icons">person</md-icon>
                {{'LOGIN_BTN' | translate}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>