.user-table {
	.cell-action {
		width: 51px;
		padding-right: 0px !important;

		.md-button {
			margin: 0px;
		}
	}
	.cell-created-at {
		width: 162px;
	}
}
table {
	.md-avatar {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		box-sizing: content-box;
	}
	.cell-avatar {
		width: 84px;
	}
}