<div class="card md-whiteframe-1dp user-table">
	<md-toolbar class="md-table-toolbar md-default" ng-hide="list.selected.length || list.filters.show">
		<div class="md-toolbar-tools">
			<span>Usuários</span>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="list.filters.setShow(true)">
				<md-icon>filter_list</md-icon>
			</md-button>
			<md-button class="md-icon-button" ui-sref="app.config.new-user">
				<md-icon>add</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-toolbar class="md-table-toolbar md-default" ng-show="list.filters.show && !list.selected.length">
		<div class="md-toolbar-tools">
			<md-icon>search</md-icon>
			<form flex name="list.filters.form">
				<input class="md-table-search-input" type="text" ng-model="list.query.filters" ng-model-options="list.filters.options" placeholder="Pesquisa..">
			</form>
			<md-button class="md-icon-button" ng-click="list.filters.setShow(false)">
				<md-icon>close</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<md-toolbar class="md-table-toolbar alternate" ng-show="list.options.rowSelection && list.selected.length">
		<div class="md-toolbar-tools">
			<span>{{list.selected.length}} {{list.selected.length > 1 ? 'items selecionados' : 'item selecionado'}}</span>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="list.remove($event)">
				<md-icon>delete</md-icon>
			</md-button>
		</div>
	</md-toolbar>
	
	<!-- exact table from live demo -->
	<md-table-container>
		<table md-table md-row-select="list.options.rowSelection" multiple="{{list.options.multiSelect}}" ng-model="list.selected" md-progress="list.promise">
			<thead md-head md-order="list.query.order" md-on-reorder="list.getAll">
				<tr md-row>
					<th md-column class="cell-avatar" md-numeric></th>
					<th md-column md-order-by="name"><span>Nome</span></th>
					<th md-column class="cell-created-at" md-order-by="createdAt"><span>Criação</span></th>
					<th md-column class="cell-action"></th>
				</tr>
			</thead>
			<tbody md-body ng-hide="list.data.total === 0">
				<tr md-row md-select="item" md-select-id="name" md-auto-select="false" ng-repeat="item in list.data.entries" ng-disabled="list.isOwner(item.role)">
					<td md-cell>
						<img alt="{{ item.profile.fullName }}" ng-src="{{item.image.thumb ? item.image.thumb : 'assets/images/user-avatar.jpg'}}" class="md-avatar" />
					</td>
					<td md-cell>{{item.profile.fullName}}</td>
					<td md-cell>{{item.createdAt | customMoment}}</td>
					<td md-cell class="cell-action">
						<md-button class="md-icon-button" ui-sref="app.config.edit-user({_id: item._id})">
							<md-icon>edit</md-icon>
						</md-button>
					</td>
				</tr>
			</tbody>
			<tbody ng-show="list.data.total === 0">
				<tr>
					<td colspan="6" class="md-table-no-results">
						<md-icon>block</md-icon> Nenhum resultado
					</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
	
	<md-table-pagination
		md-limit="list.query.limit"
		md-limit-options="[5, 10, 15]"
		md-page="list.query.page"
		md-total="{{list.data.total}}"
		md-on-paginate="list.getAll"
		md-label="{page: 'Página:', rowsPerPage: 'Linhas por página:', of: 'de'}"
		md-page-select>
	</md-table-pagination>
</div>