<p></p>

<div class="wrapper public category-public product-search product-view">
	<h1 class="page-title"><span>{{'SEARCH_FOR' | translate}}:</span> {{vm.service.filters.term}}</h1>
	
	<form name="form">
		<div layout="row" layout-align="start center">
			<md-input-container md-no-float class="md-block" flex>
				<md-icon md-font-set="material-icons" style="display:inline-block;">search</md-icon>
				<input ng-model="vm.service.filters.term" type="text" ng-model-options="{ updateOn: 'blur' }" placeholder="O que você procura?">
			</md-input-container>
			
			<md-button class="md-icon-button send-btn" aria-label="Buscar">
				<md-icon md-font-set="material-icons">send</md-icon>
			</md-button>
		</div>
	</form>
	<div class="filters" layout="row" layout-align="start center">
		<div layout="row" layout-align="start center" flex>
			<div flex>
				{{'SHOWING' | translate}}: {{vm.service.showingStart}} - {{vm.service.showingEnd}} {{'OF' | translate}} {{vm.service.total}} {{'RESULT-S' | translate}}
			</div>
			<div layout="row" layout-align="end center" flex>
				<div hide-xs>Classificar por:</div>
				<md-input-container>
					<md-select ng-model="vm.service.filters.sort" aria-label="classificar por">
						<md-option ng-repeat="sort in vm.service.sortOptions" value="{{sort.value}}">
							{{sort.name}}
						</md-option>
					</md-select>
				</md-input-container>
			</div>
		</div>
	</div>
	
	<div layout="column" layout-sm="row" layout-gt-sm="row">
		<div class="category-list" flex>
			<list
				params="vm.params"
				instance="vm.service"
				template-url="core/category/public/list.tpl.html">
			</list>
		</div>
	</div>
</div>