<div
	breadcrumbs
	data="vm.breadcrumbs">
</div>
<!-- PRODUCT -->
<div class="wrapper public-product">
	<div class="product">
		<!-- TITLE -->
		<div class="title-border">
			<h1 class="page-title title">{{vm.product.name}}</h1>
			<div class="border"></div>
		</div>
		
		<!-- CONTENT -->
		<div layout="column" layout-sm="row" layout-gt-sm="row">
			<!-- SLIDER -->
			<div
				product-slider
				images="[{ img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }, { img: vm.product.image.file, thumb: vm.product.image.thumb }]">
			</div>
			
			<!-- ROW SEPARATOR -->
			<div class="separator" flex-sm flex-gt-sm></div>
			
			<!-- INFO -->
			<div class="info" flex-sm flex-gt-sm>
				<div class="price-before" ng-class="{'hide': product.priceOffer}">{{vm.product.price | currency}}</div>
				<div class="price">{{vm.product.priceOffer ? vm.product.priceOffer : vm.product.price | currency}}</div>
				
				<div class="content">
					<md-chips class="custom-chips" ng-model="vm.product.categories" readonly="true">
						<md-chip-template>
							<span>
								<strong>{{$chip.title}}</strong>
							</span>
						</md-chip-template>
					</md-chips>
					
					<div class="html" ng-bind-html="vm.product.desc"></div>
					
					<div cart-form product="vm.product" variants="vm.variants" ng-if="vm.product || vm.variants"></div>

					<!-- <div class="share">
						<a facebook class="facebookShare" data-url='vm.url' data-shares='shares'>{{ shares }}</a>
						<a twitter  data-lang="en" data-count='horizontal' data-url='vm.url' data-via='ocotidiano' data-size="medium" data-text='{{vm.product.name}}' ></a>
						<div gplus class="g-plus" data-size="tall" data-annotation="bubble" data-href='vm.url' data-action='share'></div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>