.public-product {
	md-chips-wrap {
		padding-left: 0px;
	}
	.md-chips {
		font-size: 12px;
		box-shadow: none;
		margin-top: 10px;

		.md-chip {
			border-radius: 2px;
			height: 24px;
			line-height: 24px;
		}
		strong {
			font-weight: 400;
		}
	}
	.share {
		width: 100%;
		padding-top: 20px;

		> a, > div {
			display: inline-block;
		}
	}
	.md-whiteframe-1dp {
		background-color: white;
		padding: 10px;
	}
	.separator {
		max-width: 20px;
	}
	.price-before {
		margin-top: 0px;
		font-weight: 400;
		font-size: 21px;
		line-height: 21px;
		margin-bottom: 10px;
		text-decoration: line-through;
		color: #777;
		letter-spacing: -1px;
	}
	.price {
		margin-top: 0px;
		font-weight: bold;
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 10px;
		color: rgba(217, 18, 31, 1);
		letter-spacing: -2px;
	}
	.html, .html p {
		font-size: 20px;
		line-height: 1.5;
		font-weight: 300;
		color: #777;
	}
}
.product-search {
	md-input-container {
		max-height: 36px;
	}
	.filters {
		margin-right: 1%;
	}
	.page-title {
		span {
			color: #777;
		}
	}
	.send-btn {
		color: #1349B2;

		md-icon {
			color: inherit;
		}
	}
}
.product-view {
	.products, .slides {
		font-size: 0;

		.product {
			background-color: white;
		}
		.image-wrapper {
			position: relative;
			display: block;
			width: 100%;
			text-align: center;

			img {
				max-width: 100%;
				height: auto;
			}
			.title {
				width: 100%;
				position: absolute;
				bottom: -1px;
				padding: 10px;
				padding-top: 50px;
				color: white;
				background: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, .8) 100%);

				p {
					text-align: left;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
					margin: 0;
					font-weight: 300;
					font-size: 22px;
					line-height: 26px;
					letter-spacing: 0.005em;
				}
			}
		}
		.details {
			padding: 10px;
		}
		.price {
			font-size: 14px;
			color: #999;
			text-decoration: line-through;

			&.no-offer {
				text-decoration: none;
			}
		}
		.price-discount {

			/*color: $primary-color;*/
			font-size: 22px;
			font-weight: 500
		}
		.md-icon-button {
			height: 40px;
			width: 40px;
			line-height: 40px;

			i {
				font-size: 28px;
			}
		}
	}
	.flexslider {
		background-color: transparent;
		border: none;

		.flex-viewport {
			margin-left: -2px;
			margin-right: -2px;
		}
		.slides {
			margin: 1px;

			.product {
				max-width: 222px !important;
			}
		}
	}
	.products {
		margin-left: -1%;
		margin-right: -1%;

		.product {
			display: inline-block;
			width: calc(20% - 2%);
			min-width: 217px;
			margin: 1%;
			margin-bottom: 20px;
		}
	}
	@media (min-width:1001px) and (max-width:1279px) {
		.products {
			.product {
				width: calc(25% - 2%);
			}
		}
	}
	@media (min-width:740px) and (max-width:1000px) {
		.products {
			.product {
				width: calc(33.3333% - 2%);
			}
		}
	}
	@media (min-width:500px) and (max-width:739px) {
		.products {
			margin-left: -2%;
			margin-right: -2%;

			.product {
				width: calc(50% - 4%);
				margin: 2%;
			}
		}
	}
	@media (min-width:350px) and (max-width:499px) {
		.products {
			.product {
				width: calc(50% - 2%);
				min-width: 150px;

				.title {
					p {
						font-size: 18px;
						line-height: 22px;
					}
				}
			}
		}
	}
	@media screen and (max-width:349px) {
		.products {
			.product {
				width: calc(50% - 2%);
				min-width: 100px;

				.title {
					p {
						font-size: 18px;
						line-height: 20px;
					}
				}
				.price-discount {
					font-size: 20px;
				}
				.md-icon-button {
					height: 40px;
					width: 40px;
					line-height: 40px;

					i {
						font-size: 26px;
					}
				}
			}
		}
	}
}