<md-dialog aria-label="Novo usuário" ng-cloak>
	<form name="vm.form" class="project-user-form-dialog">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Novo usuário</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="vm.cancel()">
					<md-icon md-font-set="material-icons" md-font-content="close" aria-label="Fechar janela"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<!-- LOADING -->
				<div class="loading" ng-show="vm.service.busy.status('save')">
					<p layout layout-align="center center">
						<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
					</p>
				</div>
				
				<div ng-if="(!vm.edit || vm.edit && vm.service.model) && !vm.service.busy.status('save')">
					<div layout layout-xs="column" class="nome">
						<md-input-container flex-sm flex-gt-sm>
							<label>{{'NAME' | translate}}</label>
							<md-icon md-font-set="material-icons">face</md-icon>
							<input ng-model="vm.service.model.profile.firstName" type="text" required>
						</md-input-container>
						<md-input-container flex-sm flex-gt-sm>
							<label>{{'LASTNAME' | translate}}</label>
							<input ng-model="vm.service.model.profile.lastName" type="text" required>
						</md-input-container>
					</div>
					<div layout layout-xs="column" class="email">
						<md-input-container flex-sm flex-gt-sm>
							<label>{{'EMAIL' | translate}}</label>
							<md-icon md-font-set="material-icons">mail_outline</md-icon>
							<input ng-model="vm.service.model.email" type="email" required>
						</md-input-container>
					</div>
					<div layout layout-xs="column" class="senha" ng-if="!vm.edit">
						<md-input-container flex-sm flex-gt-sm>
							<label>{{'PASSWORD' | translate}}</label>
							<md-icon md-font-set="material-icons">lock_outline</md-icon>
							<input ng-model="vm.service.model.password" type="password" required>
						</md-input-container>
					</div>
					
					<!-- PHONE DIRECTIVE -->
					<div phone-form-content model="vm.service.model.profile.contact" set-flex="50"></div>
					
					<input type="hidden" ng-model="vm.service.model.provider">
				</div>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<span flex></span>
			<md-button ng-click="vm.cancel()">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button ng-disabled="vm.service.formStatus('save', vm.form.$invalid)" ng-click="vm.save($event)" class="clean-left md-primary" ng-if="!vm.service.busy.status('save')" style="margin-right:20px;">
				{{'SAVE' | translate}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>