<div class="no-results hide-entries hide-loading hide-starting">
    <p>
        <md-icon md-font-set="material-icons">error_outline</md-icon> Nenhum resultado
    </p>
</div>

<div class="loading show-loading">
    <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <p layout layout-align="start center">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
    </p>
</div>

<md-list class="list-content hide-loading hide-starting">
    <md-list-item
        ng-repeat="item in vm.service.entries"
        ng-click="vm.service.primaryAction ? vm.service.primaryAction(item, $event) : ''">
        <div layout layout-xs="column"
            layout-align-sm="start center" layout-align-gt-sm="start center"
            class="item" flex>
            <img alt="{{ item.user.fullName }}" ng-src="{{item.image.thumb ? item.image.thumb : 'assets/images/user-avatar.jpg'}}" class="md-avatar" />
            <div flex-sm="50" flex-gt-sm="50">
                <p>{{item.profile.fullName}}</p>
                <p class="md-caption">criado em {{item.createdAt | customMoment}}</p>
            </div>
            <div flex-sm flex-gt-sm layout="column" layout-align-sm="center end" layout-align-gt-sm="center end">
                <p>{{vm.service.extra.getTypeStatus(item.situation)}}</p>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item
        list-load-more
        service="vm.service"
        ng-if="vm.service.loadMoreBtn"
        class="list-load-more">
    </md-list-item>
</md-list>