<div class="wrapper panel">
	<div class="panel-heading">
		<div class="panel-title">
			<md-icon md-font-set="material-icons" md-font-content="work"></md-icon> {{vm.edit ? 'Editar' : 'Novo'}} usuário
		</div>
	</div>
	
	<!-- LOADING -->
	<div class="loading" ng-show="vm.factory.busy.status('getType')">
		<p layout layout-align="center center">
			<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
		</p>
	</div>
	
	<form class="project-type-form has-icon" name="form" ng-if="!vm.edit || vm.edit && vm.service.model">
		<div class="panel-body">
			<div layout layout-xs="column" class="nome">
				<md-input-container flex-sm flex-gt-sm>
					<label>{{'NAME' | translate}}</label>
					<md-icon md-font-set="material-icons">face</md-icon>
					<input ng-model="vm.service.model.profile.firstName" type="text" required>
				</md-input-container>
				<md-input-container flex-sm flex-gt-sm>
					<label>{{'LASTNAME' | translate}}</label>
					<input ng-model="vm.service.model.profile.lastName" type="text" required>
				</md-input-container>
			</div>
			<div layout layout-xs="column" class="email">
				<md-input-container flex-sm flex-gt-sm>
					<label>{{'EMAIL' | translate}}</label>
					<md-icon md-font-set="material-icons">mail_outline</md-icon>
					<input ng-model="vm.service.model.email" type="email" required>
				</md-input-container>
			</div>
			<div layout layout-xs="column" class="senha" ng-if="!vm.edit">
				<md-input-container flex-sm flex-gt-sm>
					<label>{{'PASSWORD' | translate}}</label>
					<md-icon md-font-set="material-icons">lock_outline</md-icon>
					<input ng-model="vm.service.model.password" type="password" required>
				</md-input-container>
			</div>
			
			<!-- PHONE DIRECTIVE -->
			<div phone-form-content model="vm.service.model.profile.contact" set-flex="50"></div>
			
			<div layout layout-xs="column" class="senha" ng-if="vm.edit && vm.isEditorOrUser(vm.service.model)">
				<md-input-container>
					<label>Grupos</label>
					<md-icon md-font-set="material-icons">group</md-icon>
					<md-select ng-model="vm.service.model.role"
						multiple>
						<md-optgroup label="Grupos">
						<md-option ng-value="group.value" ng-repeat="group in vm.groups |
						filter:vm.searchTerm">{{group.label}}</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>
			</div>

			<input type="hidden" ng-model="vm.service.model.provider">
			
			<br>
			
			<div layout layout-align="start center">
				<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('save')"></md-progress-circular>
				<md-button ng-disabled="vm.service.formStatus('save', form.$invalid)" ng-click="vm.submit($event)" class="clean-left md-primary" ng-if="!vm.service.busy.status('save')">
					{{'SAVE' | translate}}
					
					<md-tooltip>
					{{'SAVE' | translate}}
					</md-tooltip>
				</md-button>
				<md-button ng-disabled="vm.service.busy.status('save')" ui-sref="{{vm.redirectUrl}}">
					{{'CANCEL' | translate}}
					
					<md-tooltip>
					{{'CANCEL' | translate}}
					</md-tooltip>
				</md-button>
			</div>
			
		</div>
	</form>
</div>