<div class="wrapper" layout="column" layout-align="start center" flex="no-shrink">
	<div class="login login-default register md-whiteframe-1dp">
		<div class="title">
			<h2>{{'REGISTER_TITLE' | translate}}</h2>
		</div>
		
		<div register-form class="register-form md-padding" set-role="['user']"></div>
		
		<div class="help" layout="row">
			<a flex ui-sref="app.recovery" class="lost"><i class="fa fa-support"></i> {{'LOGIN_FORGOT_LINK' | translate}}</a>
			<a flex ui-sref="app.login" class="lost"><i class="fa fa-support"></i> {{'LOGIN_HAS_LINK' | translate}}</a>
		</div>
	</div>
</div>