<form name="form" class="form has-icon" novalidate>
	
	<div layout layout-xs="column" class="nome">
		<md-input-container flex-sm flex-gt-sm>
			<label>{{'NAME' | translate}}</label>
			<md-icon md-font-set="material-icons">face</md-icon>
			<input ng-model="vm.user.model.profile.firstName" type="text" required>
		</md-input-container>
		<md-input-container flex-sm flex-gt-sm>
			<label>{{'LASTNAME' | translate}}</label>
			<input ng-model="vm.user.model.profile.lastName" type="text" required>
		</md-input-container>
	</div>
	<div layout layout-xs="column" class="email">
		<md-input-container flex-sm flex-gt-sm>
			<label>{{'EMAIL' | translate}}</label>
			<md-icon md-font-set="material-icons">mail_outline</md-icon>
			<input ng-model="vm.user.model.email" type="email" required>
		</md-input-container>
	</div>
	<div layout layout-xs="column" class="senha">
		<md-input-container flex-sm flex-gt-sm>
			<label>{{'PASSWORD' | translate}}</label>
			<md-icon md-font-set="material-icons">lock_outline</md-icon>
			<input ng-model="vm.user.model.password" type="password" required>
		</md-input-container>
	</div>
	
	<!-- PHONE DIRECTIVE -->
	<div phone-form-content model="vm.user.model.profile.contact" set-flex="50"></div>
	
	<input type="hidden" ng-model="vm.user.model.provider">
	
	<div layout="row" layout-align="start" class="login-action-wrapper">
		<md-button ng-disabled="vm.user.formStatus('create', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary entrar" ng-if="!vm.user.busy.status('create')">{{'REGISTER_BTN' | translate}}</md-button>
	</div>
</form>