<div class="wrapper">
	<div class="title-box" layout="row">
		<div>
			<h2 class="hm-title">{{'CATEGORIES' | translate}}</h2>
		</div>
	</div>
	<br>

	<list
		params="vm.params"
		template-url="core/category/list.tpl.html"
		class="list-default">
	</list>
</div>