<br>

<!-- FORM -->
<form name="form" class="form wrapper">
	<div class="form-box basic">
		<div>
			<p class="title">{{'BASIC_DETAILS' | translate}}</p>
		</div>
		<div class="box">
			<div layout layout-sm="column">
				<md-input-container flex>
					<label>{{'TITLE' | translate}}</label>
					<input ng-model="vm.category.model.title" required>
				</md-input-container>
				<md-input-container flex>
					<label>URL</label>
					<input ng-model="vm.category.model.slug" ng-blur="vm.category.slugifyUrl(vm.category.model.slug)" required category-slug-validator dependent-model="vm.category.model.parent" edit={{vm.category.model._id}}>
				</md-input-container>
			</div>
		</div>
	</div>
	
	<div class="form-box basic">
		<div>
			<p class="title">{{'CAT_FORM_PARENT_CAT' | translate}}</p>
		</div>
		<div class="box">
			<div layout layout-sm="column">
				<md-autocomplete
					md-input-name="parent"
					md-selected-item="vm.category.model.parent"
					md-search-text="vm.searchText"
					md-items="item in vm.querySearch(vm.searchText)"
					md-item-text="item.title"
					md-min-length="0"
					md-delay="1000"
					flex>
					<md-item-template>
						<span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.title}}</span>
					</md-item-template>
					<md-not-found>
						Nenhuma categoria encontrada para "{{vm.searchText}}"
					</md-not-found>
				</md-autocomplete>
			</div>
		</div>
	</div>
	
	<div layout layout-align="start center">
		<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.category.busy.status('categoryCreate')"></md-progress-circular>
		<md-button ng-disabled="vm.category.formStatus('create', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary clean-left" ng-if="!vm.category.busy.status('categoryCreate')">
			{{'SAVE' | translate}}
			
			<md-tooltip>
			{{'SAVE' | translate}}
			</md-tooltip>
		</md-button>
		<md-button ng-disabled="vm.service.busy.status('productCreate')" ui-sref="app.categories" class="md-accent">
			{{'CANCEL' | translate}}
			
			<md-tooltip>
			{{'CANCEL' | translate}}
			</md-tooltip>
		</md-button>
	</div>
</form>
<!-- /FORM -->