<div class="no-results hide-entries hide-loading hide-starting">
    <p>
        <md-icon md-font-set="material-icons">error_outline</md-icon> Nenhum resultado
    </p>
</div>

<div class="loading show-loading">
    <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <p layout layout-align="start center">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
    </p>
</div>

<md-list class="list-content hide-loading hide-starting">
    <md-list-item ng-repeat="item in vm.service.entries" ng-click="vm.service.primaryAction ? vm.service.primaryAction(item, $event) : ''" ng-class="{'no-action': !vm.service.primaryAction}">
        <md-icon md-font-set="material-icons" ng-if="vm.service.primaryIcon">{{vm.service.primaryIcon}}</md-icon>
        <img alt="{{ item.title }}" ng-src="{{vm.uploadFolder + item.imgThumb}}" class="md-avatar" ng-if="vm.service.showAvatar" />
        <p>{{ item.parentTitle }}</p>
        <md-icon md-font-set="material-icons" ng-click="vm.service.secondaryAction($event, item, $index)" aria-label="Open Chat" class="md-secondary md-hue-3">delete</md-icon>

        <md-divider></md-divider>
    </md-list-item>
    <md-list-item
        list-load-more
        service="vm.service"
        ng-if="vm.service.loadMoreBtn"
        class="list-load-more">
    </md-list-item>
</md-list>