<div class="md-whiteframe-1dp"
    is-starting="{{vm.service.busy.status('starting')}}"
    is-loading="{{vm.service.busy.status('loading')}}"
    has-entries="{{!!vm.service.entries.length}}">
    <div layout>
        <!-- Main search box -->
        <div
            list-search-box
            service="vm.service"
            class="list-search-box"
            flex>
        </div>
        
        <!-- Main search box -->
        <div class="list-action-box" layout layout-align="center center">
            <md-button class="md-icon-button md-primary" aria-label="Novo(a)" ui-sref={{vm.service.addAction}} ui-sref-opts="{inherit: false}" ng-if="vm.service.addAction">
                <md-icon md-font-set="material-icons">add_circle</md-icon>
            </md-button>
        </div>
    </div>
    
    <md-divider></md-divider>
    
    <!-- Listing -->
    <div class="listing" layout="column" layout-gt-md="row">
        
        <!-- Filters -->
        <!-- <div
            list-filter-box
            service="vm.list"
            class="list-filter-box">
        </div> -->
        
        <!-- Entries -->
        <div
            list-content
            service="vm.service"
            template-url="core/category/listContent.tpl.html"
            class="list-content"
            flex-gt-md>
        </div>
    </div>
</div>