<!-- FORM -->
<div class="form confirmation content" is-completed="{{vm.isCompleted()}}">
    <div class="form-box basic">
        <div>
            <p class="title">
                <md-icon md-font-set="material-icons" ng-if="!vm.completed.error">done</md-icon>
                <md-icon md-font-set="material-icons"  ng-if="vm.completed.error">error_outline</md-icon>
                {{'CONFIRMATION' | translate}}
            </p>
        </div>
        <div class="box">
            <div class="show-loading loading" layout layout-align="center center">
                <md-progress-circular md-mode='indeterminate' md-diameter="40"></md-progress-circular> {{'LOADING' | translate}}
            </div>
            
            <div class="completed text-center hide-loading" ng-if="!vm.completed.error" layout="column" layout-align-sm="center center" layout-align-gt-sm="center center">
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="success-msg">
                    <md-icon md-font-set="material-icons">done</md-icon>
                    <div>
                        {{'CONF_ORDER_RECEIVED' | translate}}
                        <span ng-if="vm.completed.order.payment.mode === 'paypal_balance' || vm.completed.order.payment.mode === 'paypal_cc' || vm.completed.order.payment.mode === 'cc'">!</span>
                        <span ng-if="vm.completed.order.payment.mode === 'debito_bancario'">, {{'CONF_DEBIT_MAKE_THE_PAYMENT' | translate}} <a href="{{vm.completed.order.moip.bankDebit}}" target="_blank">{{'CONF_DEBIT_DIRECTLY_BANK' | translate}}</a> {{'CONF_DEBIT_TO_CONFIRM' | translate}}</span>
                        <span ng-if="vm.completed.order.payment.mode === 'boleto'">, <a href="{{vm.completed.order.moip.invoice}}" target="_blank">{{'CONF_PAY_INVOICE' | translate}}</a> {{'CONF_DEBIT_TO_CONFIRM' | translate}}</span>
                    </div>
                </div>
                
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="payment-status-msg text-center">
                    <div ng-if="vm.completed.order.status === 0">{{'CONF_PAY_PENDING' | translate}}</div>
                    <div ng-if="vm.completed.order.status === 1">{{'CONF_PAY_COMPLETED' | translate}}</div>
                </div>
                
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="text-center">
                    <a ui-sref="app.order-payments" class="order-link">{{'CONF_ORDER_NUMBER' | translate}} #{{vm.completed.order.number}}</a>
                </div>
                
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="payment-status-msg text-center">
                    <div>{{'CONF_ORDER_NUMBER_LABEL' | translate}}</div>
                </div>
                
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="payment-button hide-loading" ng-if="vm.completed.order.payment.mode === 'boleto'">
                    <md-button class="md-raised md-primary" href="{{vm.completed.order.moip.invoice}}" target="_blank">{{'PRINT_INVOICE_FOR_PAYMENT' | translate}}</md-button>
                </div>
                
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="payment-button hide-loading" ng-if="vm.completed.order.payment.mode === 'debito_bancario'">
                    <md-button class="md-raised md-primary" href="{{vm.completed.order.moip.bankDebit}}" target="_blank">{{'FINISH_PAYMENT_YOUR_BANK' | translate}}</md-button>
                </div>
            </div>
            
            <div class="error hide-loading" ng-if="vm.completed.error" layout="column" layout-align="center center">
                <div layout layout-align-sm="center center" layout-align-gt-sm="center center" class="success-msg">
                    <md-icon md-font-set="material-icons">error_outline</md-icon>
                    {{'CONFIRMATION_ERROR' | translate}}
                </div>
                
                <p class="md-caption">{{'CONFIRMATION_ERROR_RESTART' | translate}}</p>
            </div>
        </div>
    </div>
</div>
<!-- /FORM -->