<md-menu>
    <md-button class="md-icon-button md-primary" aria-label="{{'OPEN_USER_MENU' | translate}}" data-badge="{{!!vm.factory.getCurrent()}}" ng-click="$mdOpenMenu()" show-gt-sm hide-xs>
        <i class="material-icons">person</i>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item ng-if="vm.factory.getCurrent() && vm.currentUser.model.roles.isOwner">
            <md-menu>
                <md-button ng-click="$mdOpenMenu()">
                    <md-icon md-font-set="material-icons">lock</md-icon>
                    Admin
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-repeat="item in vm.menu.ownerLoggedIn">
                        <md-button ui-sref="{{item.href}}">
                            <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
                            {{item.title | translate}}
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-menu-item>
        
        <md-menu-divider ng-if="vm.factory.getCurrent() && vm.currentUser.model.roles.isOwner && vm.menu.userLoggedIn"></md-menu-divider>
        
        <md-menu-item ng-repeat="item in vm.menu.userLoggedIn" ng-if="vm.factory.getCurrent() && vm.menu.userLoggedIn">
            <md-button ui-sref="{{item.href}}" ng-if="item.href">
                <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
                {{item.title | translate}}
            </md-button>
        </md-menu-item>
        
        <md-menu-item ng-repeat="item in vm.menu.userLoggedOut" ng-if="!vm.factory.getCurrent() && vm.menu.userLoggedOut">
            <md-button ui-sref="{{item.href}}" ng-if="item.href">
                <md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
                {{item.title | translate}}
            </md-button>
        </md-menu-item>
        
        <md-menu-divider ng-if="vm.factory.getCurrent()"></md-menu-divider>
        
        <md-menu-item ng-if="vm.factory.getCurrent()">
            <md-button ng-click="vm.logout()">
                <md-icon md-font-set="material-icons">power_settings_new</md-icon>
                {{'LOGOUT' | translate}}
            </md-button>
        </md-menu-item>
        
        <md-menu-item ng-if="!vm.factory.getCurrent()">
            <md-button ui-sref="app.login">
                <md-icon md-font-set="material-icons">person</md-icon>
                {{'LOGIN_BTN' | translate}}
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>