[toolbar-avatar] {
    &.no-badge .md-button[data-badge]:after {
        display: none;
    }
    .md-button[data-badge]:after {
        top: 4px;
        right: 4px;
        -webkit-transform: scale(.8);
        transform: scale(.8);
        width: 8px;
        height: 8px;
        content: '';
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        align-items: center;
        position: absolute;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 12px;
        border-radius: 50%;

        background-color: grey;
    }

    .md-button[data-badge=true]:after {
        background-color: green;
    }
}