<!-- FORM -->
<form name="vm.form.shippingDetails" class="form shipping-details content">
    <div class="form-box has-icon basic">
        <div>
            <p class="title"><md-icon md-font-set="material-icons">local_shipping</md-icon> {{'SHIPPING_DETAILS' | translate}}</p>
        </div>
        
        <div class="box">
            <span class="md-caption">{{'WHO_IS_RECEIVING' | translate}}</span>
            <!-- ADDRESS DIRECTIVE -->
            <div person-form-content model="vm.service.model.shipping.to"></div>
    
            <span class="md-caption">{{'SHIPPING_ADDRESS' | translate}}</span>
            <!-- ADDRESS DIRECTIVE -->
            <div address-form-content model="vm.service.model.shipping.address"></div>
        </div>

        <div ng-include="'core/checkout/checkout-nav.tpl.html'" class="btn-group"></div>
    </div>
</form>
<!-- /FORM -->