<div class="fourOhFour" layout layout-align="center center">
	<md-icon md-font-set="material-icons">thumb_down</md-icon>
	404
	{{'PAGE_NOT_FOUND' | translate}}
	{{'PAGE_NOT_FOUND_TEXT' | translate}}
</div>