<!-- loader -->
<loader></loader>
<!-- /loader -->

<div class="acme-navbar" acme-navbar current-state="main.state.current.name" categories="main.categoryBar" layout="column" flex="none"></div>

<div
	ui-view="content"
	class="anim-in-out anim-slide-below-fade"
	data-anim-sync="true"
	layout="column" flex="noshrink">
</div>

<footer template-url="core/footer/footerAdmin.tpl.html" flex="noshrink"></footer>