.cart-floating-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
}
.cart-btn {
    .md-button[data-badge]:after {
        top: 0px;
        right: 0px;
        -webkit-transform: scale(.8);
        transform: scale(.8);
        width: 18px;
        height: 18px;
        content: attr(data-badge);
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-align-content: center;
        align-content: center;
        -webkit-align-items: center;
        align-items: center;
        position: absolute;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 600;
        font-size: 12px;
        border-radius: 50%;
    }
    .md-button.md-fab[data-badge]:after {
        top: 8px;
        right: 8px;
    }
}