<form name="form">
    <md-input-container md-no-float>
        <md-icon md-icon-set="material-icons">search</md-icon>
        <input ng-model="vm.service.filters.term" ng-model-options="{ updateOn: 'blur' }" ng-keyup="cancel($event)" placeholder={{vm.service.searchPlaceholder}}>
    </md-input-container>
</form>