/*FONTS*/
@import url(//fonts.googleapis.com/css?family=Roboto-sans:300,400,500,600,700|Roboto:300,400,500,600,700,700italic,400italic);
@import url(//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,500,600,700|Roboto:300,400,500,600,700,700italic,400italic);

/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(//fonts.gstatic.com/s/materialicons/v14/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/*MIXINS*/
@mixin text-normal() {
    line-height: 36px;
}
@mixin text-large() {
    font-size: 24px;
    font-weight: 400;
    line-height: 45px;
}
@mixin flex($value) {
    -webkit-box-flex: $value;   /* OLD - iOS 6-, Safari 3.1-6 */
    -webkit-flex: $value;       /* Safari 6.1+. iOS 7.1+, BB10 */
    -ms-flex: $value;           /* IE 10 */
    flex: $value;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-title .material-icons {
    font-size: 30px !important;
    vertical-align: text-bottom !important;
}
[layout=row] {
    flex-direction: row;
}

/*MD-ICON*/
md-icon[md-font-content]:after {
    content: attr(md-font-content);
}

/*UTILS*/
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.space {
    display: block;
    width: 30px;
}
.flex-sep {
    width: 20px;
    display: flex;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.md-button.clean-left {
    margin-left: 0px;
}
.md-button.clean-right {
    margin-right: 0px;
}

/*FORM BOX*/
.form {
    @media (max-width:600px) {
        &.has-icon {
            md-input-container {
                padding-left: 36px;

                label {
                    left: 36px;
                    right: auto;
                }
            }
        }
    }
    .title {
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 0;
        font-weight: 500;
        color: #777;
    }
    .subtitle {
        font-size: 12px;
    }
}
.form-box {
    margin-bottom: 45px;

    @media (max-width:600px) {
        &.has-icon {
            md-input-container {
                padding-left: 36px;

                label {
                    left: 36px;
                    right: auto;
                }
            }
        }
    }
    .title {
        padding-left: 15px;
        color: rgba(0, 0, 0, .6);

        md-icon {
            font-size: 22px;
        }
    }
    .box {
        background-color: white;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
        padding: 15px;
    }
}

/*STRUCTURE*/
.fixed-toolbar-route .content-wrapper {
    min-height: calc(100vh - 70px);
}
.fixed-toolbar-route .acme-navbar {
    min-height: 48px;
}
html {
    height: 100%;
    overflow: hidden;
}
body {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}
html, body {
    background-color: #f9f9f9;
}
.app-content {
    overflow: hidden;
    min-height: 100%;
    background-color: transparent;
}
.top-space {
    margin-top: 20px;
}

/* LAYOUT-FILL FIX */
.wrapper {
    max-width: 1200px;
    width: 94%;
    position: relative;
    margin: 0 auto;
}
.wrapper-full {
    margin-left: 16px;
    margin-right: 16px;
}

/*ITAU PLUGIN FIX*/
object[type="application/gas-events-uni"] {
    display: none;
}
html {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
@media (max-width:400px) {
    .wrapper {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

/* TYPOGRAPHY */
p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.010em;
    line-height: 1.6em;
}
.page-title {
    letter-spacing: 0.005em;
    font-size: 34px;
    font-weight: 300;
    line-height: 32px;
}
.title-border {
    .title {
        text-align: center;
    }
    .border {
        width: 100px;
        border-bottom: 1px solid;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    h3 {
        margin-bottom: 20px;
    }
}

/*Humanize style*/
.hm-header {
    margin-top: 10px;
}
.hm-header.center {
    text-align: center;
}
.hm-welcome {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin: 8px 0;
}
.hm-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.hm-subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 4px 0 20px 0;
}
.inner-loading {
    width: 100%;

    md-progress-circular {
        margin: 0 auto;
    }
}
.inner-no-results {
    width: 100%;
}
#fb-root {
    display: none;
}

/*MAIN LOADING*/
.main-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 9;

    &.show {
        display: block;
    }
}

/*404*/
.fourOhFour {
    width: 100%;
    height: 100%;
}

/*LIST*/
.list-custom {
    background-color: white;

    .show-entries {
        display: none;
    }
    &[has-entries=true] {
        .hide-entries {
            display: none;
        }
        .show-entries {
            display: block;
        }
    }
    .no-results {
        padding: 16px;
        color: rgba(0, 0, 0, .54);

        md-icon {
            font-size: 18px;
            vertical-align: sub;
        }
    }
    md-list-item {
        padding: 0px 0px 0px 16px;

        .md-button {
            min-width: auto;
        }
    }
    .list-load-more {
        padding-left: 0px;
    }
    h3 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .010em;
        margin: 0;
        line-height: 1.2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;

        a {
            text-decoration: none;
        }
    }
    h4 {
        font-size: 14px;
        letter-spacing: .010em;
        margin: 3px 0 1px;
        font-weight: 400;
        line-height: 1.2em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }
    .sep {
        width: 20px;
    }
    table {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        table-layout: fixed;

        img {
            width: 40px;
            height: 40px;
            margin-top: 8px;
            margin-bottom: 8px;
            margin-right: 16px;
            border-radius: 50%;
            box-sizing: content-box;
        }
        .img {
            width: 56px;
        }
        .actions {
            width: 54px;
        }
        .content.total {
            width: 100px;
            text-align: right;
        }
    }
    .head, .foot {
        color: rgba(0, 0, 0, .54);
        background-color: rgba(0, 0, 0, .04);
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .foot .total h3 {
        color: red;
    }
    @media (max-width:600px) {
        h3 {
            font-size: 14px;
        }
        h4 {
            font-size: 12px;
        }
        .img {
            display: none;
        }
    }
}

/*CORREÇÃO NESTED MD MENU*/
md-menu-item .md-menu {
    padding: 0px;
    margin: 0px;
    height: 100%;

    .md-button {
        border-radius: 0;
        margin: auto 0;
        font-size: 15px;
        text-transform: none;
        font-weight: 400;
        text-align: left;
        text-align: start;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
        display: inline-block;
        -webkit-align-items: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        width: 100%;

        &:after {
            display: block;
            content: '\25BC';
            position: absolute;
            top: 6px;
            speak: none;
            -webkit-transform: rotate(270deg) scaleY(.45) scaleX(.9);
            transform: rotate(270deg) scaleY(.45) scaleX(.9);
            right: 28px;
            color: rgba(0, 0, 0, 0.54);
        }
        span {
            margin-top: auto;
            margin-bottom: auto;
        }
        md-icon {
            margin: auto 16px auto 0;
        }
    }
}
.card {
    background-color: white;
}

/*TABLE*/
.md-table-search-input {
    width: 100%;
    margin: 0;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    outline: none;
    padding-left: 16px;
}
.md-table-no-results {
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    padding: 10px 0 10px 24px;
    color: rgba(0, 0, 0, 0.62);

    md-icon {
        font-size: 21px;
        color: inherit;
    }
}
.md-table-toolbar.alternate {
    .md-button md-icon {
        color: rgba(255, 255, 255, 0.87);
    }
}
.danger {
    color: red;
}
.selectdemoSelectHeader {

    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}
.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}
.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}
.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {

    /* 1px wider than Lion. */
    width: 5px;
    height: 5px;    /* This is more usable for users trying to click it. */
    background-color: rgba(0, 0, 0, 0);
    -webkit-border-radius: 100px;
}

/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {

    /* This is the EXACT color of Mac OS scrollbars. 
       Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
    width: 5px;
}
::-webkit-scrollbar-thumb:horizontal {

    /* This is the EXACT color of Mac OS scrollbars. 
       Yes, I pulled out digital color meter */
    background: rgba(0, 0, 0, 0.61);
    -webkit-border-radius: 100px;
    height: 5px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0, 0, 0, 0.81); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector