<div class="no-results hide-entries hide-loading hide-starting">
    <p>
        <md-icon md-font-set="material-icons">error_outline</md-icon> Nenhum resultado
    </p>
</div>

<div class="loading show-loading">
    <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <p layout layout-align="start center">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
    </p>
</div>

<md-list class="list-content hide-loading hide-starting">
    <md-subheader class="md-no-sticky">{{'CLICK_ITEM_SEE_DETAILS' | translate}}</md-subheader>
    <md-list-item
        ng-repeat="item in vm.service.entries"
        ng-click="vm.service.primaryAction ? vm.service.primaryAction(item, $event) : ''">
        <div layout layout-xs="column"
            layout-align-sm="start center" layout-align-gt-sm="start center"
            class="item" flex>
            <div class="status {{'status-' + item.status}}">
                <md-icon md-font-set="material-icons">lens</md-icon>
            </div>
            <div flex-sm="50" flex-gt-sm="50">
                <p>{{'ORDER' | translate}} #{{item.number}}</p>
                <p class="md-caption">{{ 'PAY_STAT_' + item.status | translate }}</p>
            </div>
            <div flex-sm="20" flex-gt-sm="20">
                <p>{{item.createdAt | customMoment}}</p>
                <p class="md-caption">#{{item.number}}</p>
            </div>
            <div flex-sm flex-gt-sm layout="column" layout-align-sm="center end" layout-align-gt-sm="center end">
                <p>{{item.total | currency}}</p>
                <p class="md-caption">{{'PAID_' + item.payment.mode | translate}}</p>
            </div>
        </div>
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item
        list-load-more
        service="vm.service"
        ng-if="vm.service.loadMoreBtn"
        class="list-load-more">
    </md-list-item>
</md-list>