<div class="order">
	<div class="inner-loading" layout="row" layout-align="center center" ng-if="vm.factory.busy.status('get')">
		<p layout layout-align="center center">
			<md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
		</p>
	</div>
	<div class="wrapper" ng-if="!vm.factory.busy.status('get') && vm.service">
		<div class="title-box" layout="row">
			<div>
				<h2 class="hm-title"><span>{{'ORDER' | translate}}</span> <span class="color-primary">#{{vm.service.model.number}}</span></h2>
			</div>
		</div>
		<br>
		
		<div class="order-content md-whiteframe-1dp" layout layout-xs="column">
			<!-- COLUNA RESUMO -->
			<div class="resume column">
				<!-- RESUMO VALORES -->
				<div class="value-info">
					<span class="md-caption color-primary">{{'RESUME' | translate}}</span>
					
					<div layout>
						<p flex class="md-body-1">Subtotal</p>
						<p class="md-body-1">{{vm.service.subtotal | currency}}</p>
					</div>
					<div layout>
						<p flex class="md-body-1">{{'SHIPPING' | translate}}</p>
						<p class="md-body-1">{{vm.service.model.shipping.price | currency}}</p>
					</div>
					<div layout class="total">
						<p flex class="md-body-2">{{'TOTAL' | translate}}</p>
						<p class="md-body-2">{{vm.service.total | currency}}</p>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<!-- INFORMAÇÕES DE PAGAMENTO -->
				<div class="payment-info">
					<span class="md-caption color-primary">{{'PAYMENT' | translate}}</span>
					
					<div>
						<div layout>
							<p flex class="md-body-1">{{'PAID_WITH' | translate}}</p>
							<p class="md-body-1">{{'PAID_' + vm.service.model.payment.mode | translate}}</p>
						</div>
						<div layout ng-if="vm.service.model.moip || vm.service.model.paypal">
							<p flex class="md-body-1">Gateway</p>
							<p class="md-body-1" ng-if="vm.service.model.moip">MOIP</p>
							<p class="md-body-1" ng-if="vm.service.model.paypal">Paypal</p>
						</div>
						<div layout layout-align="start center">
							<p flex class="md-body-1">Status</p>
							<md-select ng-model="vm.service.model.status" aria-label="{{'PAYMENT_TYPE' | translate}}">
								<md-option ng-repeat="sort in vm.filterStatus" value="{{sort.value}}">
									{{sort.name}}
								</md-option>
							</md-select>
						</div>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<!-- STATUS INTERNO -->
				<div class="internal-info">
					<span class="md-caption color-primary">{{'INTERNAL_MONITORING' | translate}}</span>
					
					<div>
						<div layout layout-align="start center">
							<p flex class="md-body-1">Status</p>
							<md-select ng-model="vm.service.model.internalStatus" aria-label="{{'PAYMENT_TYPE' | translate}}">
								<md-option ng-repeat="sort in vm.factory.filterInternalStatus" value="{{sort.value}}">
									{{sort.name}}
								</md-option>
							</md-select>
						</div>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<!-- RASTREAMENTO -->
				<div>
					<span class="md-caption color-primary">{{'TRACKING_CODE' | translate}}</span>
					
					<div>
						<div layout layout-align="start center">
							<p flex class="md-body-1">{{'CODE' | translate}}</p>
							<md-input-container md-no-float>
								<input ng-model="vm.service.model.shipping.tracking" placeholder="{{'INSERT_CODE' | translate}}">
							</md-input-container>
						</div>
					</div>
				</div>
				
				<div layout layout-align="end start">
					<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.service.busy.status('update')"></md-progress-circular>
					<md-button class="md-primary" ng-click="vm.service.update(true)" ng-if="!vm.service.busy.status('update')">
						{{'SAVE' | translate}}

						<md-tooltip>
						{{'SAVE' | translate}}
						</md-tooltip>
					</md-button>
				</div>
			</div>
			
			<!-- COLUNA DADOS -->
			<div class="full-info column" flex-sm flex-gt-sm>
				<!-- DADOS DO CLIENTES -->
				<div>
					<span class="md-caption color-primary">{{'CUSTOMER' | translate}}</span>
					
					<div layout layout-xs="column">
						<div flex-sm flex-gt-sm>
							<p>{{vm.service.model.user.profile.firstName+ ' ' +vm.service.model.user.profile.lastName}}</p>
							<p>{{vm.service.model.user.email}}</p>
						</div>
						
						<div layout="column" layout-align-sm="center end" layout-align-gt-sm="start end">
							<p class="md-caption" ng-if="vm.formLocale !== 'pt_BR'">
								<span ng-if="vm.service.model.user.profile.contact.phone">{{vm.service.model.user.profile.contact.phone}}</span>
							</p>
							<p class="md-caption" ng-if="vm.formLocale !== 'pt_BR'">
								<span ng-if="vm.service.model.user.profile.contact.mobile">{{vm.service.model.user.profile.contact.mobile}}</span>
							</p>
							<p class="md-caption" ng-if="vm.formLocale === 'pt_BR'">
								<span ng-if="vm.service.model.user.profile.contact.phone">{{vm.service.model.user.profile.contact.phone | brPhoneNumber}}</span>
							</p>
							<p class="md-caption" ng-if="vm.formLocale === 'pt_BR'">
								<span ng-if="vm.service.model.user.profile.contact.mobile">{{vm.service.model.user.profile.contact.mobile | brPhoneNumber}}</span>
							</p>
						</div>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<!-- DADOS DO COBRANÇA E ENTREGA -->
				<div layout layout-xs="column">
					<!-- COBRANÇA -->
					<div flex-sm flex-gt-sm>
						<span class="md-caption color-primary">{{'PAYMENT_DETAILS' | translate}}</span>
						
						<div addr-display address="vm.service.model.payment.address" person="vm.service.model.payment.payer" form-locale="vm.formLocale"></div>
					</div>
					
					<!-- ENTREGA -->
					<div flex-sm flex-gt-sm>
						<span class="md-caption color-primary">{{'SHIPPING_DETAILS' | translate}}</span>
						
						<div addr-display address="vm.service.model.shipping.address" person="vm.service.model.shipping.to" form-locale="vm.formLocale"></div>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<!-- PRODUTOS -->
				<div class="products">
					<span class="md-caption color-primary">{{'PRODUCTS' | translate}}</span>
					
					<div class="list">
						<div class="item" ng-repeat="item in vm.service.model.cart" layout layout-xs="column">
							<div class="image" layout layout-align="start center">
								<img ng-src="{{item.product.image.thumb}}" alt="{{vm.service.model.product.name}}">
							</div>
							<div flex-sm flex-gt-sm>
								<p>{{item.product.name}}</p>
								<p class="md-caption">{{item.attrs | attrsToString}}</p>
							</div>
							<div layout="column" layout-align="start end">
								<p>{{item.qty * item.price | currency}}</p>
								<p class="md-caption">{{item.qty}} x {{item.price | currency}}</p>
							</div>
						</div>
					</div>
				</div>
				
				<md-divider></md-divider>
				
				<!-- TIPO ENTREGA -->
				<div>
					<span class="md-caption color-primary">{{'SHIPPING_METHOD' | translate}}</span>
					
					<div layout layout-xs="column">
						<div flex-sm flex-gt-sm>
							<p>{{'SHIP_' + vm.service.model.shipping.method | translate}}</p>
						</div>
						<div>
							<p>{{vm.service.model.shipping.price | currency}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>