.order-list {
	.status {
		margin-right: 10px;
	}
	.list-content {
		.item {
			padding-top: 10px;
			padding-bottom: 10px;

			p {
				margin: 0px;
			}
		}
		.status--1 md-icon, .status-0 md-icon {
			color: #ffcc00;
		}
		.status-1 md-icon, .status-5 md-icon {
			color: #00cc00;
		}
		.status-2 md-icon, .status-3 md-icon {
			color: #ff0000;
		}
		.no-results p {
			margin-top: 20px;
		}
	}
}
.order {
	.inner-loading {
		padding: 30px;
	}
	.order-content {
		background-color: white;

		p {
			margin: 0;
		}
		md-divider {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.column {
			padding: 16px;
		}
		.resume {
			width: 300px;
			background-color: rgba(0, 0, 0, 0.04);

			.value-info {
				> span {
					padding-bottom: 5px;
					display: inline-block;
				}
				.total {
					border-top: 1px dashed #ddd;
					margin-top: 5px;
					padding-top: 5px;
				}
			}
			.payment-info {
				> span {
					padding-bottom: 5px;
					display: inline-block;
				}
			}
			.internal-info {
			}
			md-select {
				font-size: 14px;
				margin: 11px 0 12px 0;
				padding-left: 7px;
				padding-bottom: 5px;
				background-color: rgba(0, 0, 0, 0.04);

				.md-select-value {
					border-bottom: none !important;

					.md-select-icon {
						margin-left: 0px;
						width: 17px;
					}
				}
			}
			.md-button {
				margin-left: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				margin-top: 0px;
				font-size: 12px;
				min-height: 25px;
				line-height: 25px;
			}
			md-input-container {
				input {
					font-size: 14px;
				}
				.md-errors-spacer {
					display: none;
				}
			}
		}
		.products {
			.list {
				width: 100%;

				.item {
					border-bottom: 1px dashed #ddd;
					padding-bottom: 10px;
					margin-bottom: 10px;

					.image {
						padding-right: 10px;
					}
					img {
						max-width: 30px;
					}
				}
				.item:last-of-type {
					border-bottom: none;
					padding-bottom: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
}