<!-- FORM -->
<form name="vm.form.payment" class="form payment content" is-loading="{{!!vm.service.busy.status('create')}}" is-redirecting="{{!!vm.paypalRedirect}}">
    <div class="form-box basic">
        <div>
            <p class="title"><md-icon md-font-set="material-icons">payment</md-icon> {{'PAYMENT' | translate}}</p>
        </div>
        
        <div class="box">
            <span class="md-caption hide-loading">{{'CHOOSE_PAYMENT_METHOD' | translate}}</span>
            
            <md-radio-group class="hide-loading hide-redirecting" ng-model="vm.service.model.payment.mode" required>
                <md-radio-button
                    ng-value=""
                    aria-label="null"
                    class="hide">
                </md-radio-button>
                <md-radio-button
                    ng-value="'paypal_balance'"
                    aria-label="{{'CHECKOUT_WITH_PAYPAL' | translate}}"
                    class="md-primary radio-row"
                    ng-if="vm.factory.gateways.paypal_balance.status">
                    
                    <div layout="row" layout-align="start center">
                        <div flex>
                            {{'CHECKOUT_WITH_PAYPAL' | translate}}
                            <br>
                            <span class="desc">{{'PAYPAL_REDIRECT_MSG' | translate}}</span>
                        </div>
                        
                        <a href="https://www.paypal.com.br" target="_blank" class="gateway-logo">
                            <img src="assets/images/paypal.png" alt="{{'PAY_BY_PAYPAL' | translate}}">
                            
                            <md-tooltip>
                            {{'PAY_BY_PAYPAL' | translate}}
                            </md-tooltip>
                        </a>
                    </div>
                </md-radio-button>
                <md-radio-button
                    ng-value="'paypal_cc'"
                    aria-label="{{'CREDIT_CARD' | translate}}"
                    class="md-primary radio-row"
                    ng-if="vm.factory.gateways.paypal_cc.status">
                    
                    <div layout="row" layout-align="start center">
                        <div flex>
                            {{'CREDIT_CARD' | translate}}
                        </div>
                        
                        <a href="https://www.paypal.com.br" target="_blank" class="gateway-logo">
                            <img src="assets/images/paypal.png" alt="{{'PAY_BY_PAYPAL' | translate}}">
                            
                            <md-tooltip>
                            {{'PAY_BY_PAYPAL' | translate}}
                            </md-tooltip>
                        </a>
                    </div>
                </md-radio-button>
                <md-radio-button
                    ng-value="'boleto'"
                    aria-label="{{'BOLETO' | translate}}"
                    class="md-primary radio-row"
                    ng-if="vm.factory.gateways.boleto.status">
                    
                    <div layout="row" layout-align="start center">
                        <div flex>
                            {{'BOLETO' | translate}}
                            <br>
                            <span class="desc">{{'BOLETO_WARNING' | translate}}</span>
                        </div>
                        
                        <a href="https://www.moip.com.br" target="_blank" class="gateway-logo moip">
                            <img src="assets/images/moip.png" alt="{{'PAY_BY_MOIP' | translate}}">
                            
                            <md-tooltip>
                            {{'PAY_BY_MOIP' | translate}}
                            </md-tooltip>
                        </a>
                    </div>
                </md-radio-button>
                <md-radio-button
                    ng-value="'debito_bancario'"
                    aria-label="{{'DEBITO_BANCARIO' | translate}}"
                    class="md-primary radio-row"
                    ng-if="vm.factory.gateways.debito_bancario.status">
                    
                    <div layout="row" layout-align="start center">
                        <div flex>
                            {{'DEBITO_BANCARIO' | translate}}
                        </div>
                        
                        <a href="https://www.moip.com.br" target="_blank" class="gateway-logo moip">
                            <img src="assets/images/moip.png" alt="{{'PAY_BY_MOIP' | translate}}">
                            
                            <md-tooltip>
                            {{'PAY_BY_MOIP' | translate}}
                            </md-tooltip>
                        </a>
                    </div>
                </md-radio-button>
                <md-radio-button
                    ng-value="'cc'"
                    aria-label="{{'CREDIT_CARD' | translate}}"
                    class="md-primary radio-row"
                    ng-if="vm.factory.gateways.cc.status">
                    
                    <div layout="row" layout-align="start center">
                        <div flex>
                            {{'CREDIT_CARD' | translate}}
                        </div>
                        
                        <a href="https://www.moip.com.br" target="_blank" class="gateway-logo moip">
                            <img src="assets/images/moip.png" alt="{{'PAY_BY_MOIP' | translate}}">
                            
                            <md-tooltip>
                            {{'PAY_BY_MOIP' | translate}}
                            </md-tooltip>
                        </a>
                    </div>
                </md-radio-button>
            </md-radio-group>
            
            <!-- DEBITO BANCARIO FORM -->
            <div class="debito-bancario gateway-form hide-loading" ng-if="vm.service.model.payment.mode === 'debito_bancario'">
                <span class="md-caption hide-loading">{{'CHOOSE_YOUR_BANK' | translate}}</span>
                
                <div class="bank">
                    <a ng-repeat="bank in vm.factory.banks" ng-click="vm.service.model.moip.bank = bank.value" ng-class="{'active':vm.service.model.moip.bank===bank.value}">
                        <img ng-src="{{bank.image}}" id="{{bank.value}}" alt="{{bank.name}}">
                        <md-tooltip>
                        {{'PAY_WITH' | translate}} {{bank.name}}
                        </md-tooltip>
                    </a>
                </div>
            </div>
            
            <!-- PAYPAL CC FORM -->
            <div class="paypal_cc gateway-form hide-loading" ng-if="vm.service.model.payment.mode === 'paypal_cc'">
                <span class="md-caption hide-loading">{{'INSERT_CREDIT_CARD_INFORMATION' | translate}}</span>
                
                <div layout layout-xs="column">
                    <md-input-container flex-sm flex-gt-sm>
                        <label>{{'CARD_NUMBER' | translate}}</label>
                        <input ng-model="vm.service.model.paypal.card.number" ng-model-options="{ updateOn: 'blur' }" type="number" ng-minlength="13" ng-maxlength="19" required>
                    </md-input-container>
                    <md-input-container>
                        <label>{{'CARD_EXPIRY_FULLDATE' | translate}}</label>
                        <input ng-model="vm.service.model.paypal.card.expiry" mask="12/2199" ng-minlength="7" ng-maxlength="7" required>
                    </md-input-container>
                    <md-input-container>
                        <label>{{'CARD_SECURITY_NUMBER' | translate}}</label>
                        <input type="number" ng-model="vm.service.model.paypal.card.cvv2" ng-minlength="3" ng-maxlength="4" required>
                    </md-input-container>
                </div>
                
                <div layout="row" layout-xs="column">
                    <md-select ng-model="vm.service.model.paypal.card.type" placeholder="{{'CARD_TYPE' | translate}}" flex-sm flex-gt-sm required>
                        <md-option ng-value="opt" ng-repeat="opt in vm.factory.cardTypes.paypal">{{ opt }}</md-option>
                    </md-select>
                </div>
            </div>
            
            <!-- CC FORM -->
            <div class="cc gateway-form hide-loading" ng-if="vm.service.model.payment.mode === 'cc'">
                <span class="md-caption">{{'INSERT_CREDIT_CARD_INFORMATION' | translate}}</span>
                
                <div layout layout-xs="column">
                    <md-input-container flex-sm flex-gt-sm>
                        <label>{{'CARD_NUMBER' | translate}}</label>
                        <input ng-model="vm.service.model.moip.card.number" ng-model-options="{ updateOn: 'blur' }" type="number" ng-minlength="13" ng-maxlength="19" required>
                    </md-input-container>
                    <md-input-container>
                        <label>{{'CARD_EXPIRY_DATE' | translate}}</label>
                        <input ng-model="vm.service.model.moip.card.expiry" mask="19/99" ng-maxlength="5" required>
                    </md-input-container>
                    <md-input-container>
                        <label>{{'CARD_SECURITY_NUMBER' | translate}}</label>
                        <input type="number" ng-model="vm.service.model.moip.card.cvv2" ng-minlength="3" ng-maxlength="4" required>
                    </md-input-container>
                </div>
                <div layout layout-xs="column">
                    <md-input-container flex-sm flex-gt-sm>
                        <label>{{'CARD_NAME' | translate}}</label>
                        <input ng-model="vm.service.model.moip.card.name" required>
                    </md-input-container>
                    <md-input-container flex-sm flex-gt-sm>
                        <label>{{'CPF' | translate}}</label>
                        <input ng-model="vm.service.model.moip.card.cpf" ui-br-cpf-mask required>
                    </md-input-container>
                    <md-input-container flex-sm flex-gt-sm>
                        <label>{{'CARD_BIRTHDAY' | translate}}</label>
                        <input ng-model="vm.service.model.moip.card.birthday" mask="39/19/9999" required>
                    </md-input-container>
                    <md-input-container flex-sm flex-gt-sm>
                        <label>{{'CARD_PHONE' | translate}}</label>
                        <input ng-model="vm.service.model.moip.card.phone" ui-br-phone-number required>
                    </md-input-container>
                </div>
                
                <div layout layout-xs="column">
                    <md-select ng-model="vm.service.model.moip.card.type" placeholder="{{'CARD_TYPE' | translate}}" flex-sm flex-gt-sm required>
                        <md-option ng-value="opt" ng-repeat="opt in vm.factory.cardTypes.moip">{{ opt }}</md-option>
                    </md-select>
                    <md-select ng-model="vm.service.model.moip.card.parcelas" placeholder="Parcelas" flex-sm flex-gt-sm required>
                        <md-option ng-value="opt" ng-repeat="opt in vm.factory.cardParcelas">{{ opt }}</md-option>
                    </md-select>
                </div>
            </div>
            
            <!-- LOADING MSGS -->
            <div class="show-loading loading" layout layout-align="start center">
                <md-progress-circular md-mode='indeterminate' md-diameter="40"></md-progress-circular> {{'LOADING' | translate}}
            </div>
            <div class="show-redirecting loading" layout layout-align="start center">
                <md-progress-circular md-mode='indeterminate' md-diameter="40"></md-progress-circular> {{'PAYPAL_REDIRECT_MSG' | translate}}..
            </div>
        </div>
        
        <div ng-include="'core/checkout/checkout-nav.tpl.html'" class="btn-group hide-loading"></div>
    </div>
</form>
<!-- /FORM -->