footer {
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5rem;
	color: #999;

	.copyright {
		.mtda {
			a {
				color: inherit;
				text-decoration: none;

				&:hover {
					color: rgba(255, 255, 255, 0.87);

					img {
						opacity: 1;
					}
				}
			}
			img {
				vertical-align: middle;
				opacity: .8;
			}
		}
	}
	.payment-flags {
		img {
			margin: 5px;
			max-height: 24px;
		}

		@media (max-width:960px) {
			padding-top: 20px;
			img.first {
				margin-left: 0px;
			}
		}
	}
}
footer.public {

	/*background-color: rgba(1, 1, 1, 0.07);*/
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 20px;
	box-sizing: initial;
	// @todo: removing this will cause strange behaviors on the container;

	.footer-column {
	}
	.footer-item {
		margin-bottom: 20px;
	}
	.footer-address {
		font-size: 16px;
		font-weight: 500;
		color: rgba(255, 255, 255, 0.87);
	}
	.links {
		h4 {
			font-size: 18px;
			color: rgba(255, 255, 255, 0.87);
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 2px #1349B2 solid;
		}
		a {
			clear: both;
			width: 100%;
			display: block;
			color: inherit;
			text-decoration: none;

			&:hover {
				color: rgba(255, 255, 255, 0.87);
			}
		}
	}
	.face {
		max-width: 340px !important;

		.fb-page, .fb-page span, .fb-page span iframe[style] {
			width: 100% !important;
		}
	}
	hr {
		border: none;
		border-bottom: 1px solid #353535;
	}
	.footer-column-sep {
		max-width: 20px;
	}
	.copyright {
		margin-top: 17px;
	}
}
footer.footer-admin {
	max-height: 40px;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #1349B2;
	color: white;

	@media (max-width:600px) {
		max-height: 100px;
	}
}