<div class="wrapper">
	<div layout="row" class="copyright" flex>
		<div flex>
			Copyright  © 2015, O Cotidiano, Direitos reservados.
		</div>
		<div flex class="text-right mtda">
			<a href="http://www.mtda.de" target="_blank">
				desenvolvido por <img src="assets/images/mtda-yellow.png" alt="">
			</a>
		</div>
	</div>
</div>