<div class="products item-wrapper">
	<div
		class="product md-whiteframe-1dp"
		ng-repeat="product in vm.entries"
		ui-sref="app.product({id: product._id, slug: product.slug, category: vm.category, child: vm.child})">
		
		<a class="image-wrapper" md-ink-ripple>
			<img ng-src="{{product.image.thumb}}" class="md-card-image" alt="{{product.name}}">
			
			<div class="title">
				<p class="md-title fade">{{product.name}}</p>
			</div>
		</a>
		
		<div layout="row" class="details" layout-align="end start">
			<div flex layout="column">
				<span class="price" ng-class="{'hide': !product.priceOffer}">{{product.price | currency}}</span>
				<span class="price no-offer" ng-class="{'hide': product.priceOffer}">only</span>
				<span class="price-discount">{{product.priceOffer ? product.priceOffer : product.price | currency}}</span>
			</div>
			
			<div>
				<md-button class="md-icon-button" ui-sref="app.product({id: product._id, slug: product.slug, category: vm.category, child: vm.child})">
					<i class="material-icons">add_shopping_cart</i>
				</md-button>
			</div>
		</div>
	</div>
</div>