/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
.alert {
    padding: 15px;
    margin-bottom: 17px;
    border: 1px solid transparent;
    border-radius: 3px;
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert .alert-link {
    font-weight: bold;
}
.alert > p, .alert > ul {
    margin-bottom: 0;
}
.alert > p + p {
    margin-top: 5px;
}
.alert-dismissable {
    padding-right: 35px;
}
.alert-dismissable .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
.alert-success {
    background-color: #bdedbc;
    border-color: #bdedbc;
    color: #045702;
}
.alert-success hr {
    border-top-color: #a2e294;
}
.alert-success .alert-link {
    color: #022501;
}
.alert-info {
    background-color: #c5e8f7;
    border-color: #c5e8f7;
    color: #2c7ea1;
}
.alert-info hr {
    border-top-color: #8fe3f0;
}
.alert-info .alert-link {
    color: #215f79;
}
.alert-warning {
    background-color: #ffefa4;
    border-color: #ffefa4;
    color: #574802;
}
.alert-warning hr {
    border-top-color: #ffce71;
}
.alert-warning .alert-link {
    color: #251f01;
}
.alert-danger {
    background-color: #ffc9c9;
    border-color: #ffc9c9;
    color: #ac1818;
}
.alert-danger hr {
    border-top-color: #ff96a7;
}
.alert-danger .alert-link {
    color: #7f1212;
}
.alert-default {
    background-color: #ebebeb;
    border-color: #ebebeb;
    color: #303641;
}
.alert-default hr {
    border-top-color: #dedede;
}
.alert-default .alert-link {
    color: #1a1e24;
}
.alert-minimal {
    background-color: #ebebeb;
    border-color: #ebebeb;
    color: #303641;
    background-color: #ffffff;
}
.alert-minimal hr {
    border-top-color: #dedede;
}
.alert-minimal .alert-link {
    color: #1a1e24;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector