/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.tile {
    position: relative;
    display: block;
    background: #303641;
    padding: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    background: #ffffff;
    border: 1px solid #ebebeb;

    .tile-content {
        display: none;
    }

    &[loading=false] {
        .tile-loading {
            display: none;
        }
        .tile-content {
            display: block;
        }
    }
    .icon {
        color: #f2f2f2;
        color: rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 5px;
        bottom: 5px;
        z-index: 1;

        md-icon {
            color: inherit;
            font-size: 110px;
            width: 120px;
            height: 100px;
            line-height: 95px;
            margin: 0;
            padding: 0;
            vertical-align: bottom;
        }
    }
    .num, h3, p {
        position: relative;
        z-index: 5;
        margin: 0;
        padding: 0;
    }
    .num {
        font-size: 34px;
        font-weight: 500;
        line-height: 45px;
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.005em;

        span {
            margin-right: 15px;
        }
        md-icon {
            font-size: 20px;
            width: 20px;
            height: 20px;
            line-height: 16px;
            color: inherit;
        }
    }
    p {
        font-size: 12px;
        letter-spacing: 0.020em;
    }
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector