<div class="wrapper">
    <br>
    <div layout-gt-sm layout="column">
        <div
            side-menu
            items="vm.menu"
            class="side-menu"
            layout="row"
            hide-sm hide-xs>
        </div>

        <div class="checkout-content" step="{{vm.step.innerTabGroup}}" flex="no-shrink">
            <div ui-view="checkout-form" class="anim-in-out anim-slide-below-fade" data-anim-sync="true"></div>
        </div>
    </div>
</div>