html .md-fab.md-button.clear-checkout {
	background-color: #777;
	&:hover {
		background-color: #444;
	}
}
.identification {
	.login-default {
		.help {
			max-width: 100%;
			padding-left: 0px;
		}
		a.lost {
			text-align: left;
		}
	}
	@media (max-width:358px) {
		.md-tab {
			font-size: 10px;
		}
	}
}
.shipping-method {
	md-radio-button {
		&.md-checked {
			background-color: rgba(0, 0, 0, .04);
			padding-left: 15px;
			padding-right: 15px;
			margin-left: -15px;
			margin-right: -15px;

			.md-container {
				margin-left: 15px;
			}
		}
		.md-label {
			width: calc(100% - 30px);
		}
	}
	.radio-row {
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0px;
		border-bottom: 1px dashed rgba(0, 0, 0, .04);

		&:last-child {
			border-bottom: none;
		}
	}
}
.payment {
	md-radio-button {
		&.md-checked {
			background-color: rgba(0, 0, 0, .04);
			padding-left: 15px;
			padding-right: 15px;
			margin-left: -15px;
			margin-right: -15px;

			.md-container {
				margin-left: 15px;
			}
		}
		.md-label {
			width: calc(100% - 30px);
		}
	}
	.radio-row {
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0px;
		border-bottom: 1px dashed rgba(0, 0, 0, .04);

		&:last-child {
			border-bottom: none;
		}
	}
}
.checkout-content {
	position: relative;

	&[step='identification'] {
		.btn-group {
			display: none;
		}
	}
	> div[ui-view] {
		position: relative;
	}
	.btn-group {
		position: absolute;
		bottom: -34px;
		left: 35px;
	}
	.shipping-method {
		.box {
			padding-bottom: 30px;
		}
	}
	.payment {
		.loading {
			margin: 10px 0 0 0;
			padding: 0px;
		}
		.box {
			padding-bottom: 30px;
		}
		.gateway-logo {
			img {
				max-width: 60px;
			}
			&.moip {
				img {
					max-width: 40px;
				}
			}
		}
	}
	.payment[is-loading=true] {
		.hide-loading {
			display: none;
		}
	}
	.payment[is-loading=false] {
		.show-loading {
			display: none;
		}
	}
	.payment[is-redirecting=true] {
		.hide-redirecting {
			display: none;
		}
	}
	.payment[is-redirecting=false] {
		.show-redirecting {
			display: none;
		}
	}
	.confirmation {
		.loading {
			margin: 0;
			padding: 0px;
		}
	}
	.confirmation[is-completed=false] {
		.hide-loading {
			display: none;
		}
	}
	.confirmation[is-completed=true] {
		.show-loading {
			display: none;
		}
	}
	.gateway-form {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.payment[mode=debito_bancario] {
		.gateway-form.debito-bancario {
			display: block;
		}
	}
	.payment[mode=cc] {
		.gateway-form.cc {
			display: block;
		}
	}
	.debito-bancario {
		.bank {
			margin: 20px 0 0 0;

			a {
				display: inline-block;
			}
			img {
				border-radius: 51px;
				border: 2px solid #ddd;
				width: 75px;
				height: 75px;
				margin: 8px 10px 10px 4px;
				background-color: #fff;

				@media (max-width:424px) {
					width: 60px;
					height: 60px;
				}
				@media (max-width:358px) {
					width: 50px;
					height: 50px;
				}
			}
			a.active img {
				border: 5px solid rgba(198, 40, 40, .5);
			}
		}
	}
}
.anim-in-out.anim-in-setup {
	position: absolute !important;
}
md-radio-button {
	.desc {
		font-size: 12px;
		letter-spacing: 0.020em;
		color: #777;
	}
}
.confirmation {
	@media (max-width:600px) {
		.text-center {
			text-align: left;
		}
	}
	.box {
		padding: 50px 20px;
	}
	.order-link {
		font-size: 22px;
		padding-top: 20px;
		font-weight: 500;

		@media (max-width:600px) {
			font-size: 18px;
		}
	}
	.success-msg {
		font-size: 22px;

		@media (max-width:600px) {
			font-size: 18px;
		}
		md-icon {
			margin-right: 11px;
			font-size: 30px;
			margin-top: -3px;
		}
	}
	.payment-status-msg {
		padding-top: 5px;
	}
}