<md-button class="md-fab md-primary" aria-label="{{'PREV' | translate}}" ng-click="vm.prev($event)" ng-if="vm.hasPrevBtn">
	<md-icon md-font-set="material-icons">navigate_before</md-icon>
	
	<md-tooltip>
	{{'PREV' | translate}}
	</md-tooltip>
</md-button>
<md-button class="md-fab md-primary" aria-label="{{'NEXT' | translate}}" ng-click="vm.next($event)" ng-if="vm.hasNextBtn">
	<md-icon md-font-set="material-icons">navigate_next</md-icon>

	<md-tooltip>
	{{'NEXT' | translate}}
	</md-tooltip>
</md-button>
<md-button class="md-fab clear-checkout" aria-label="{{'RESET' | translate}}" ng-click="vm.clear()">
	<md-icon md-font-set="material-icons">cached</md-icon>

	<md-tooltip>
	{{'RESET' | translate}}
	</md-tooltip>
</md-button>