<div class="variant-form" layout-sm="row" layout-gt-sm="row" layout="column" layout-align-sm="start center" layout-align-gt-sm="start center">
	<div class="checkbox">
		<md-checkbox ng-model="vm.status" aria-label="activate">
			{{vm.title | translate}}
		</md-checkbox>
	</div>
	
	<div flex>
		<md-chips
			ng-model="vm.selected"
			md-autocomplete-snap
			md-transform-chip="vm.transformChip($chip)"
			md-require-match="true">
			<md-autocomplete
				md-selected-item="vm.selectedItem"
				md-search-text="vm.searchText"
				md-items="item in vm.querySearchVariations(vm.searchText)"
				md-item-text="item.value"
				md-min-length="1"
				md-delay="1000"
				ng-disabled="!vm.status"
				placeholder="{{vm.status ? 'PROD_FORM_VARIATIONS_ADD' : 'DISABLED' | translate}}">
				<span md-highlight-text="vn.searchText">{{item.display | translate}}</span>
			</md-autocomplete>
			<md-chip-template>
				<span>
					<strong>{{$chip.display | translate}}</strong>
				</span>
			</md-chip-template>
		</md-chips>
	</div>
</div>