.variant-form {
	padding-top: 5px;
	padding-bottom: 5px;

	.checkbox {
		
		md-checkbox {
			min-width: 150px;
			margin-bottom: 0px;
			margin-right: 20px;

			.md-label {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 120px
			}
		}
	}
	.md-chips {
		box-shadow: none;

		&.md-focused {
			box-shadow: none;
		}
	}
}