<div class="wrapper" layout="column" layout-align="start center" flex="no-shrink" ng-if="!vm.hash">
	<div class="login-logo">
		<img src="assets/images/logo.png" alt="">
	</div>
	
	<div class="login login-default md-whiteframe-1dp">
		<div class="title">
			<h2>Recuperar senha</h2>
		</div>
		
		<form name="form" class="form has-icon md-padding" novalidate>
			<div layout layout-xs="column" class="email">
				<md-input-container flex-sm flex-gt-sm>
					<label>{{'EMAIL' | translate}}</label>
					<md-icon md-font-set="material-icons">mail_outline</md-icon>
					<input ng-model="vm.email" type="email" required>
				</md-input-container>
			</div>
			
			<div layout="row" layout-align="center" class="login-action-wrapper">
				<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.factory.busy.status('recovery')"></md-progress-circular>
				<md-button ng-disabled="form.$invalid && !vm.factory.busy.status('recovery')" ng-click="vm.submitRecoveryLink()" class="md-raised md-primary entrar" ng-if="!vm.factory.busy.status('recovery')">
					Recuperar
					
					<md-tooltip>
					Recuperar
					</md-tooltip>
				</md-button>
			</div>
		</form>
		
		<div class="help" layout="row">
			<a flex ui-sref="app.login" class="lost"><i class="fa fa-support"></i> {{'LOGIN_HAS_LINK' | translate}}</a>
			<a flex ui-sref="app.register" class="lost"><i class="fa fa-support"></i> {{'LOGIN_SIGNUP_LINK' | translate}}</a>
		</div>
	</div>
</div>

<div class="wrapper" layout="column" layout-align="start center" flex="no-shrink" ng-if="vm.hash">
	<div class="login-logo">
		<img src="assets/images/logo.png" alt="">
	</div>
		
	<div class="login login-default md-whiteframe-1dp" layout layout-align="center center" ng-if="!vm.confirmed">
		<md-progress-circular md-mode="indeterminate" md-diameter="40px"></md-progress-circular>
		Validando informações..
	</div>
	<div class="login login-default md-whiteframe-1dp" ng-if="vm.confirmed">
		<div class="title">
			<h2>Entre com sua nova senha</h2>
		</div>
		
		<form name="form" class="form has-icon md-padding" novalidate>
			<div layout layout-xs="column" class="email">
				<md-input-container flex-sm flex-gt-sm>
					<label>Nova senha</label>
					<md-icon md-font-set="material-icons">lock_outline</md-icon>
					<input ng-model="vm.password" type="password" required>
				</md-input-container>
			</div>
			
			<div layout layout-xs="column" class="email">
				<md-input-container flex-sm flex-gt-sm>
					<label>Repetir senha</label>
					<md-icon md-font-set="material-icons">lock_outline</md-icon>
					<input ng-model="vm.confirmPassword" type="password" match="vm.password" required>
				</md-input-container>
			</div>
			
			<div layout="row" layout-align="center" class="login-action-wrapper">
				<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.factory.busy.status('recoveryPassword')"></md-progress-circular>
				<md-button ng-disabled="form.$invalid && !vm.factory.busy.status('recoveryPassword')" ng-click="vm.submitRecoveryPassword()" class="md-raised md-primary entrar" ng-if="!vm.factory.busy.status('recoveryPassword')">
					Alterar
					
					<md-tooltip>
					Alterar
					</md-tooltip>
				</md-button>
			</div>
		</form>
		
		<div class="help" layout="row">
			<a flex ui-sref="app.login" class="lost"><i class="fa fa-support"></i> {{'LOGIN_HAS_LINK' | translate}}</a>
			<a flex ui-sref="app.register" class="lost"><i class="fa fa-support"></i> {{'LOGIN_SIGNUP_LINK' | translate}}</a>
		</div>
	</div>
</div>
<!-- <div class="wrapper">
							<div class="login-default register">
														<div class="login-icon-wrapper" layout="row" layout-align="center">
																					<md-icon md-font-set="material-icons">add_circle</md-icon>
														</div>
														<div>
																					<h2 class="text-center md-headline md-primary">Crie sua conta</h2>
														</div>
														<div class="md-padding no-padding-right">
																					<form name="registerForm" novalidate>
																												<div layout="row" layout-sm="column" class="nome">
																																			<i hide-sm class="fa fa-smile-o"></i>
																																			<md-input-container flex>
																																										<label>Seu nome</label>
																																										<input ng-model="sign.firstName" type="text" required>
																																			</md-input-container>
																																			<md-input-container flex>
																																										<label>Sobrenome</label>
																																										<input ng-model="sign.lastName" type="text" required>
																																			</md-input-container>
																												</div>
																												<div layout="row" class="email">
																																			<i class="fa fa-at"></i>
																																			<md-input-container flex>
																																										<label>Email</label>
																																										<input ng-model="sign.email" type="email" required>
																																			</md-input-container>
																												</div>
																												<div layout="row" class="senha">
																																			<i class="fa fa-key"></i>
																																			<md-input-container flex>
																																										<label>Senha</label>
																																										<input ng-model="sign.password" type="password" required>
																																			</md-input-container>
																												</div>
																					</form>
														</div>
														<div layout="row" layout-align="start" class="login-action-wrapper">
																					<md-button class="entrar md-raised md-primary" ng-click="vm.login(logon)" ng-disabled="logon.$invalid||app.$page.load.status">Entrar</md-button>
																					<facebook-login user="user" template-url="core/login/loginFacebook.tpl.html"></facebook-login>
														</div>
														
														<div class="help" layout="row">
																					<a flex ui-sref="app.recovery" class="lost"><i class="fa fa-support"></i> Esqueci minha senha</a>
																					<a flex ui-sref="app.login" class="lost"><i class="fa fa-support"></i> Já tenho cadastro</a>
														</div>
							</div>
</div> -->
<!-- <md-content class="md-padding anim-zoom-in login" layout="row" layout-sm="column" ng-if="!app.isAuthed()" flex>
										<div layout="column" class="login" layout-padding flex>
																				<login-form config="vm.config" user="app.user"></login-form>
										</div>
</md-content> -->