<div class="no-results hide-entries hide-loading hide-starting">
    <p>
        <md-icon md-font-set="material-icons">error_outline</md-icon> Nenhum resultado
    </p>
</div>

<div class="loading show-loading">
    <md-progress-linear md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <p layout layout-align="start center">
        <md-progress-circular class="md-accent" md-mode="indeterminate" md-diameter="40"></md-progress-circular> Carregando resultados..
    </p>
</div>

<md-list class="list-content no-action hide-loading hide-starting">
    <md-list-item ng-repeat="item in vm.service.entries" layout="row">
        <div layout="row" flex>
            <div layout="row" flex>
                <img alt="{{ item.name }}" ng-src="{{item.image.thumb}}" class="md-avatar" ng-if="vm.service.showAvatar" />
                <p>{{ item.name }}</p>
            </div>
            <div layout layout-align="center">
                <md-button ng-click="vm.service.primaryAction(item, $event)">Editar</md-button>
                <md-button aria-label="Delete">
                    <md-icon md-font-set="material-icons" ng-click="vm.service.secondaryAction($event, item, $index)" aria-label="Open Chat" class="md-hue-3">delete</md-icon>
                </md-button>
            </div>
        </div>
        
        <md-divider></md-divider>
    </md-list-item>
    <md-list-item
        list-load-more
        service="vm.service"
        ng-if="vm.service.loadMoreBtn"
        class="list-load-more">
    </md-list-item>
</md-list>