form .progress {
	line-height: 15px;
}
.progress {
	display: inline-block;
	width: 100px;
	border: 3px groove #CCC;
}
.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}
.category-chips .md-chip-input-container {

	/*min-width: 100%;*/
}
.product-admin-list {
	md-list-item {
		padding: 0px 0px 0px 16px;
	
		.md-button {
			min-width: auto;
		}
	}
	.list-load-more {
		padding-left: 0px;
	}
}
.form-product {
	.variants .box {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.basic {
		margin-bottom: 0px;
	}
	.categories .box {
		padding-top: 31px;
		padding-bottom: 45px;
	}
}
.form-variant {
	.variant-item {
		padding-top: 5px;
		padding-bottom: 5px;

		md-input-container label {
			display: none;
		}
	}
	.variant-name {
		margin: 0px;
		margin-top: 3px;
		margin-right: 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 120px;

		@media screen and (max-width: 599px) {
			min-width: 80px;			
		}
	}
	.qty {
		height: 30px;
	}
}

.variants-list {
	display: block;
	padding-top: 51px;
}