<div class="panel">
	<!-- LOADING -->
	<div class="loading" ng-show="vm.factory.busy.status('productGet')">
		<p layout layout-align="center center">
			<md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
		</p>
	</div>
	
	<!-- FORM -->
	<form name="form" class="form form-product content" ng-if="!vm.edit || vm.edit && vm.product.model">
		<div class="panel-body clean-bottom">
			<p class="title">{{'PROD_FORM_BASIC_DETAILS' | translate}}</p>
			
			<div layout layout-sm="column">
				<md-input-container flex>
					<label>{{'NAME' | translate}}</label>
					<input ng-model="vm.product.model.name" required>
				</md-input-container>
				<md-input-container flex>
					<label>URL</label>
					<input ng-model="vm.product.model.slug" ng-blur="vm.product.slugifyUrl(vm.product.model.slug)" required product-slug-validator edit={{vm.product.model._id}}>
				</md-input-container>
			</div>
			
			<textarea froala="vm.factory.froalaOptions" ng-model="vm.product.model.desc"></textarea>
			
			<br><br>
			
			<div class="form-box categories">
				<div>
					<p class="title">{{'PROD_FORM_CAT_DETAILS' | translate}}</p>
				</div>
				<div class="box">
					<md-chips
						class="category-chips"
						ng-model="vm.product.model.categories"
						md-autocomplete-snap
						md-transform-chip="vm.factory.transformChip($chip)"
						md-require-match="true">
						<md-autocomplete
							md-selected-item="vm.selectedItem"
							md-search-text="vm.searchText"
							md-items="item in vm.querySearch(vm.searchText)"
							md-item-text="item.title"
							md-min-length="1"
							md-delay="1000"
							placeholder="{{'PROD_FORM_CAT' | translate}}">
							<span md-highlight-text="vn.searchText">{{item.parentTitle}}</span>
						</md-autocomplete>
						<md-chip-template>
							<span>
								<strong>{{$chip.parentTitle}}</strong>
							</span>
						</md-chip-template>
					</md-chips>
				</div>
			</div>
			
			<div class="form-box">
				<div>
					<p class="title">{{'PROD_FORM_PRICE_DETAILS' | translate}}</p>
				</div>
				<div class="box">
					<div layout>
						<md-input-container flex-xs flex-sm="35" flex-gt-sm="20">
							<label>{{'PRICE' | translate}}</label>
							<input ng-model="vm.product.model.price" ui-money-mask="2" required>
						</md-input-container>
						<md-input-container flex-xs flex-sm="35" flex-gt-sm="20">
							<label>{{'PRICE_OFFER' | translate}}</label>
							<input ng-model="vm.product.model.priceOffer" ui-money-mask="2">
						</md-input-container>
					</div>
				</div>
			</div>
			
			<div class="form-box">
				<div>
					<p class="title">{{'PROD_FORM_FEATURED_DETAILS' | translate}}</p>
				</div>
				<div class="box">
					<div layout>
						<md-input-container flex-xs flex-sm="35" flex-gt-sm="20">
							<label>{{'FEATURED' | translate}}</label>
							<md-select ng-model="vm.product.model.featured.status" required>
								<md-option value="1">
									{{'YES' | translate}}
								</md-option>
								<md-option value="0">
									{{'NO' | translate}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container flex-xs flex-sm="35" flex-gt-sm="20">
							<label>{{'ORDER' | translate}}</label>
							<input type="number" ng-model="vm.product.model.featured.order">
						</md-input-container>
					</div>
				</div>
			</div>
			
			<div class="form-box variants" layout="column">
				<div>
					<p class="title">{{'PROD_FORM_VARIATIONS_DESC' | translate}}</p>
				</div>
				<div class="box" layout="column">
					<div variant-form ng-repeat="item in vm.variants" status="item.status" name="{{item.name}}" title="{{item.name | translate}}" entries="vm.factory.variants[item.name]" model="vm.product.model.variants.attrs" position='{{$index}}' lang></div>
					<!-- COLOR VARIATION -->
					<!-- <div variant-form name="colors" title="COLOR" entries="vm.factory.variants.colors" model="vm.product.model.variants.attrs" position='0' lang></div>
					
					<md-divider></md-divider> -->
					
					<!-- SIZE VARIATION -->
					<!-- <div variant-form name="sizes" title="SIZE" entries="vm.factory.variants.sizes" model="vm.product.model.variants.attrs" position='1' lang></div> -->
				</div>
			</div>
			
			<div class="form-box">
				<div>
					<p class="title">{{'PROD_FORM_UPLOAD_DETAILS' | translate}}</p>
				</div>
				<div class="box">
					<div layout="column">
						<div>
							<p>{{'PROD_FORM_UP_DESC' | translate}}</p>
						</div>
						<div layout="column">
							<md-button
								class="md-raised clean-left"
								ng-click="vm.product.chooseFile()"
								accept="image/*">
								{{'CHOOSE_FILE' | translate}}
							</md-button>
							
							<div class="result-img">
								<img ng-if="vm.product.model.image.file && !vm.product.model.image64" ng-src="{{vm.product.model.image.thumb}}">
								<img ng-if="vm.product.model.image64" ng-src="{{vm.product.model.image64}}">
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div layout layout-align="start center">
				<md-progress-circular class="" md-mode="indeterminate" md-diameter="20px" ng-if="vm.product.busy.status('productCreate')"></md-progress-circular>
				<md-button ng-disabled="vm.product.formStatus('productCreate', form.$invalid)" ng-click="vm.submit($event)" class="md-raised md-primary clean-left" ng-if="!vm.product.busy.status('productCreate')">
					{{'SAVE' | translate}}
					
					<md-tooltip>
					{{'SAVE' | translate}}
					</md-tooltip>
				</md-button>
				<md-button ng-disabled="vm.product.busy.status('productCreate')" ui-sref="app.products">
					{{'CANCEL' | translate}}
					
					<md-tooltip>
					{{'CANCEL' | translate}}
					</md-tooltip>
				</md-button>
			</div>
		</div>
	</form>
	<!-- /FORM -->
	
</div>