<div class="wrapper-full">
	<br>
	<div layout layout-xs="column">
		<div
			side-menu
			items="vm.menu"
			class="side-menu"
			ng-if="vm.edit">
		</div>

		<div flex="no-shrink">
			<div ui-view="admin-content" class="anim-in-out anim-slide-below-fade" data-anim-sync="true"></div>
		</div>
	</div>
</div>