<!-- FORM -->
<form name="vm.form.shippingMethod" class="form shipping-method content">
    <div class="form-box basic">
        <div>
            <p class="title"><md-icon md-font-set="material-icons">local_shipping</md-icon> {{'SHIPPING_METHOD' | translate}}</p>
        </div>
        
        <div class="box">
            <span class="md-caption">{{'SELECT_SHIP_METHOD' | translate}}</span>
            
            <md-radio-group ng-model="vm.service.model.shipping.method" required>
                <md-radio-button
                    ng-value=""
                    aria-label="null"
                    class="hide">
                </md-radio-button>
                <md-radio-button
                    ng-repeat="item in vm.factory.shippingMethods"
                    ng-value="item.slug"
                    aria-label="{{item.title | translate}}"
                    class="md-primary radio-row">
                    
                    <div layout="row">
                        <div flex>
                            {{item.title | translate}}
                        </div>
                        
                        <div>
                            {{item.price | currency}}
                        </div>
                    </div>
                </md-radio-button>
            </md-radio-group>
        </div>
        
        <div ng-include="'core/checkout/checkout-nav.tpl.html'" class="btn-group"></div>
    </div>
</form>
<!-- /FORM