<md-toolbar class="md-toolbar-admin" layout layout-align="start center" ng-class="{'search-mode': vm.searchMode}">
	<div class="md-toolbar-tools wrapper">
		Admin
		<span flex></span>
		
		<md-button class="md-icon-button" aria-label="logout" ng-click="vm.user.logout()">
			<md-icon md-font-set="material-icons">power_settings_new</md-icon>
		</md-button>
		
		<!-- MENU MOBILE -->
		<md-button class="md-icon-button" ng-click="vm.sidenav('admin').open()" aria-label="Abrir menu lateral">
			<i class="material-icons">menu</i>
		</md-button>
	</div>
</md-toolbar>