.toolbar-fixed {
	padding-top: 70px;
}
.toolbar {

	/*height: 64px;*/
	md-toolbar {
		background-color: #1349B2;

		&.fixed {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 58;
			border-top: none;
			border-bottom: none;
			background-color: rgba(255, 255, 255, 0.8) !important;

			&:hover {
				background-color: rgba(255, 255, 255, 1) !important;
			}
		}
		&.toolbar-default {
			background-color: #f5f5f5;

			md-menu {
				.md-icon-button {
					overflow: visible;
				}
			}
		}
		.wrapper {
			padding: 0px;
		}
		.phone {
			font-size: 18px;

			i {
				vertical-align: text-bottom;
			}
		}
		.fa {
			font-size: 22px;
			line-height: 26px;
		}
	}
	i.arrow {
		font-size: 12px;
		color: #1349B2;
		vertical-align: super;
	}
	.show-in-search-mode {
		display: none;
	}
	.search-mode {
		.hide-in-search-mode {
			display: none;
		}
		.show-in-search-mode {
			display: flex;

			.fa-search {
				margin-left: 15px;
				margin-top: 2px;
			}
			i {
				color: #1349B2;

				&.close-search-mode {
					color: red;
				}
			}
		}
		md-input-container {
			max-height: 36px;
			margin: 0px;
			margin-left: 10px;

			input {
				color: rgba(51, 51, 51, 0.87);
				border-bottom: none !important;
			}
		}
	}
}
md-menu-item img {
	vertical-align: text-bottom;
}
.nav-categories {
	width: 100%;
	background-color: #1349B2;

	md-ink-bar {
		color: rgba(252, 209, 22, 1);
		background: rgba(252, 209, 22, 1);
	}
}
.toolbar-tabs {
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}