.app-menu, .app-menu ul {
	margin-top: 0;
	list-style: none;
	padding: 0;
	background-color: transparent;
}
.app-menu li {
	margin: 0;
}
.app-menu > li {
	/*border-top: 1px solid rgba(0, 0, 0, 0.07);*/
}
.app-menu > li:first-of-type {
	border-top: 0px;
}
.app-menu .md-button {
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-weight: 400;
	line-height: 45px;
	margin: 0;
	max-height: 45px;
	overflow: hidden;
	padding: 0px 16px;
	text-align: left;
	text-decoration: none;
	white-space: normal;
	width: 100%;
	color: #555;
}
.app-menu a.md-button {
	display: block;
	position: relative;
}
.app-menu .md-button {
	text-transform: none;
}
.app-menu .md-button.active {
	color: rgba(0, 0, 0, 0.8);
	background-color: rgba(158, 158, 158, 0.2);
}
.app-menu {
	.label {
		padding-left: 16px;
		padding-right: 16px;
		margin-bottom: 0px;
		font-size: 12px;
		letter-spacing: 0.020em;
	}
}