<ul class="app-menu admin-menu">
	<!-- <div ng-if="vm.menu.site.length && vm.area === 'public'">
		<p class="label">{{'NAVIGATION' | translate}}</p>
		<li
			class="parent-list-item"
			ng-repeat="item in vm.menu.site"
			md-active="vm.activeTab(item.tabGroup)">
			
			<button class="md-button md-default-theme" ui-sref="{{item.href}}" md-ink-ripple>
			<md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
			{{item.title | translate}}
			</button>
			
		</li>
	</div>
	
	<div ng-if="vm.user.getCurrent() && vm.menu.userLoggedIn.length && vm.area === 'public'">
		<p class="label">{{'USER' | translate}}</p>
		<li
			class="parent-list-item"
			ng-repeat="item in vm.menu.userLoggedIn"
			ui-sref-active>
			
			<button class="md-button md-default-theme" ui-sref="{{item.href}}" md-ink-ripple>
			<md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
			{{item.title | translate}}
			</button>
			
		</li>
	</div>

	<div ng-if="vm.showOwner() && vm.menu.owner.length">
		<p class="label">Administrador</p>
		<li
			class="parent-list-item"
			ng-repeat="item in vm.menu.owner"
			ui-sref-active>
			
			<button class="md-button md-default-theme" ui-sref="{{item.href}}" md-ink-ripple>
			<md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
			{{item.title | translate}}
			</button>
			
		</li>
	</div> -->
	
	<div>
		<p class="label">Menu de acesso</p>
		<li
			class="parent-list-item"
			ng-repeat="item in vm.sideMenu"
			ui-sref-active>
			
			<button class="md-button md-default-theme" ui-sref="{{item.href}}" md-ink-ripple>
			<md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
			{{item.title | translate}}
			</button>
			
		</li>
	</div>

	<div ng-if="vm.showAdmin() && vm.menu.admin.length">
		<p class="label">Sistema</p>
		<li
			class="parent-list-item"
			ng-repeat="item in vm.menu.admin"
			ng-if="vm.showAdmin()"
			ui-sref-active>
			
			<button class="md-button md-default-theme" ui-sref="{{item.href}}" md-ink-ripple>
			<md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
			{{item.title | translate}}
			</button>
			
		</li>
	</div>
<!-- 
	<div ng-if="vm.user.getCurrent() && vm.menu.currentUser.length">
		<p class="label">{{vm.user.getCurrent().model.profile.firstName}}</p>
		<li
			class="parent-list-item"
			ng-repeat="item in vm.menu.currentUser"
			ui-sref-active>
			
			<button class="md-button md-default-theme" ui-sref="{{item.href}}" md-ink-ripple>
			<md-icon md-font-set="material-icons">{{item.icon}}</md-icon>
			{{item.title | translate}}
			</button>
			
		</li>
	</div> -->
</ul>