.side-menu {
	padding-top: 51px;
	padding-right: 20px;
	min-width: 280px;
	
	&.small {
		.menu-item {
			font-size: 14px;

			md-icon {
				font-size: 15px;
				height: 15px;
			}
		}
	}
	.menu-item {
		position: relative;
		padding: 10px;
		font-size: 16px;
		font-weight: 400;
		letter-spacing: 0.010em;
		line-height: 1.6em;
		color: rgba(0, 0, 0, 0.6);
		background-color: #f5f5f5;
		cursor: pointer;
		width: 100%;
		text-align: left;
		border: none;

		&:focus {
			outline: none;
		}
		&.active {
			background-color: #eee;
			color: #1349B2;
		}
		md-icon {
			font-size: 18px;
			height: 18px;
			vertical-align: sub;
			color: inherit;
		}
	}
	.toggle-menu {
		a {
			padding: 11px;
			display: block;
			position: relative;
			background-color: rgba(0,0,0,0.1);
		}
	}
	@media (max-width:960px) {
		padding-right: 0px;

		div.closed {
			.menu-item {
				display: none;

				&.active {
					display: flex;
				}
			}
		}
	}
}