<div flex>
	<div class="content" ng-class="{'closed': vm.closed}">
		<button
		ng-repeat="item in vm.items"
		ui-sref="{{item.state ? item.state : item.href}}"
		class="menu-item"
		ng-class="{'active': vm.activeTab(item.innerTabGroup)}"
		md-ink-ripple
		layout layout-align="start center"
		ng-disabled="item.disabled">
		<div flex>
			<md-icon md-font-set="material-icons" ng-if="!item.icon">chevron_right</md-icon>
			<md-icon md-font-set="{{item.icon.mdFontSet ? item.icon.mdFontSet : 'material-icons'}}" ng-if="item.icon && !item.icon.right">{{item.icon.content ? item.icon.content : item.icon}}</md-icon>
			{{item.label ? item.label : item.title | translate}}
		</div>
		<md-icon md-font-set="{{item.icon.mdFontSet ? item.icon.mdFontSet : 'material-icons'}}" ng-if="item.icon && item.icon.right">{{item.icon.content ? item.icon.content : item.icon}}</md-icon>
		<md-icon md-font-set="material-icons" ng-if="item.checked">done</md-icon>
		</button>
	</div>
	
	<div class="toggle-menu" hide-gt-sm>
		<a ng-click="vm.toggleMenu()" md-ink-ripple>
			<md-icon md-font-set="material-icons" show-xs show-sm>menu</md-icon>
		</a>
	</div>
</div>