loader {
    margin-bottom: 0px;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}

.page-loader {/* margin-bottom: 10px; margin-top: 3px;*/ opacity: 0;   transition:0.5s linear all; }
.page-loader.show { opacity: 1 !important; transition:0.5s linear all; }
.page-loader.no-auth {/* margin-bottom: 10px; margin-top: 3px !important;*/ }
.page-loader md-progress-linear {/* margin-top: -9px; margin-bottom: -2px; height: 0px;*/ }
.page-loader .md-container {height: 3px;/* background-color: red !important; */ }
.page-loader .md-bar { /*background-color: yellow !important;*/ }