.prod-view {
	display: flex;
	margin: 0 -11.25px;

	.no-results {
		padding: 0 11.25px 39.375px 11.25px;
	}
	.prod-grid {
		width: 100%;
	}
	.prod-item {
		float: left;
		width: 33.33333%;
		padding: 0 11.25px 39.375px 11.25px;
		box-sizing: border-box;

		.img-link {
			display: block;
			margin-bottom: 14.85px;
			position: relative;

			img {
				width: 100%;
				max-width: 100%;
				height: auto;
				display: block;
			}
		}
	}
	.prod-info {
		h3, h4 {
			margin: 0;
		}
		h3 {
			font-size: 18px;
			line-height: 27px;
			font-weight: 500;
		}
		h4 {
			font-size: 14px;
			font-weight: 400;
		}
		.regular-price {
			opacity: .4;
			text-decoration: line-through;
		}
		.price-discount {
			font-weight: 500;
		}
	}
	.md-button {
		margin-right: 0px;
		display: block;		
		position: relative;
	}
	@media screen and (max-width:768px) {
		.prod-item {
			width: 50%;
		}
	}
}