<div class="prod-view" flex>
	<div class="prod-grid">
		<div class="no-results" ng-if="!vm.entries">
			{{'NO_RESULTS' | translate}}
		</div>
		<div class="prod-item" ng-repeat="product in vm.entries" ng-if="vm.entries">
			<a class="img-link" ui-sref="app.product({id: product._id, slug: product.slug, category: vm.category, child: vm.child})" alt="{{product.name}}" md-ink-ripple>
				<img ng-src="{{product.image.thumb}}" alt="{{product.name}}">
			</a>
			<div class="prod-item-details" layout layout-align="start center">
				<div class="prod-info" flex>
					<h3>{{product.name}}</h3>
					<h4>
					<span class="price regular-price" ng-class="{'hide': !product.priceOffer}">{{product.price | currency}}</span>
					<span class="price no-offer" ng-class="{'hide': product.priceOffer}">{{'ONLY' | translate}}</span>
					<span class="price-discount">{{product.priceOffer ? product.priceOffer : product.price | currency}}</span>
					</h4>
				</div>
				
				<md-button ui-sref="app.product({id: product._id, slug: product.slug, category: vm.category, child: vm.child})" hide-xs class="md-raised md-primary">
				{{'BUY' | translate}}
				</md-button>
			</div>
		</div>
	</div>
</div>