<div layout layout-xs="column">
    <md-input-container flex flex-xs="none">
        <label>{{'NAME' | translate}}</label>
        <md-icon md-font-set="material-icons">face</md-icon>
        <input ng-model="vm.model.firstName" required>
    </md-input-container>
    <md-input-container flex flex-xs="none">
        <label>{{'LASTNAME' | translate}}</label>
        <input ng-model="vm.model.lastName" required>
    </md-input-container>
</div>